@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/new/proxima_nova_bold-webfont.eot');
    src: url('fonts/new/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/new/proxima_nova_bold-webfont.woff') format('woff'),
         url('fonts/new/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('fonts/new/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/new/proxima_nova_semibold-webfont.eot');
    src: url('fonts/new/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/new/proxima_nova_semibold-webfont.woff') format('woff'),
         url('fonts/new/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('fonts/new/proxima_nova_semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/new/proxima_nova-webfont.eot');
    src: url('fonts/new/proxima_nova-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/new/proxima_nova-webfont.woff') format('woff'),
         url('fonts/new/proxima_nova-webfont.ttf') format('truetype'),
         url('fonts/new/proxima_nova-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?22wujz');
  src:url('fonts/icomoon.eot?22wujz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?22wujz') format('truetype'),
    url('fonts/icomoon.woff?22wujz') format('woff'),
    url('fonts/icomoon.svg?22wujz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-google-plus:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e905";
}
.icon-sms:before {
  content: "\e906";
}
.icon-ticket:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-user-arrow:before {
  content: "\e90a";
}
.icon-credit-card:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e902";
}
