.input {
	position: relative;
	z-index: 1;
	float: left;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 1em .5em 1em .5em;
	border: 1px solid $light-grey;
	border-radius: 2px;
	background: #fff;
	color: #222222;
	font-weight: 400;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	@include transition(border 300ms ease-in-out);
	line-height: normal;
}
select.input__field {
	background-image:url('img/select.png');
	background-repeat: no-repeat;
	background-position: right;
}

.input__field:focus {
	outline: none;
	border: 1px solid darken($light-grey, 10%);
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: $light-grey;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 120%;
}

/* Ruri */
.input__field--ruri {
	width: 100%;
	background: transparent;
	padding: .9em .3em .9em 1em;
	color: #444;
	font-weight: 600;
	&.has-icon {
		padding: .9em .3em .9em 2em;
	}
}

.input__label--ruri {
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: .7em;
	text-transform: uppercase;
	padding: 0;
	pointer-events: none;
	font-weight: 200;
	bottom: -40px;
	left: 6px;
}

label.reserve {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    padding: 9px 0 3px;
    color: #73797d;
}


.input__label-content--ruri {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
	background: #a3d39c;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
	color: #222;
	text-transform: uppercase;
	font-weight: 200;
	-webkit-transform: translate3d(-1.4em, 2.5em, 0) scale3d(0.7, 0.7, 1);
	transform: translate3d(-1.4em, 2.5em, 0) scale3d(0.7, 0.7, 1);
}

.input select {
	@include tablet-portrait-and-below {
		width: 100%;
		padding: 14px .5em 12px 2.6em;
		font-size: .85em;
		border: 1px solid $light-grey;
		border-radius: 2px;
		background: #fff;
		color: #222222;
		font-weight: 400;
		font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-appearance: none; /* for box shadows to show on iOS */
		display: block;
		option:disabled {
			color: #c0cdce;
		}
	}
}
