/*
 * Author: Ioan George Istrate
 */
/*
 * Fonts
 */
@font-face {
  font-family: 'socialicoregular';
  src: url('/fonts/fonts/socialico-webfont.eot');
  src: url('/fonts/fonts/socialico-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/fonts/socialico-webfont.woff') format("woff"), url('/fonts/fonts/socialico-webfont.ttf') format("truetype"), url('/fonts/fonts/socialico-webfont.svg#socialicoregular') format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
 * Global Variables, Extensions, Mixins, and Functions
 */
/*
 * Extends
 */
/* line 71, ../scss/pages/account/partials/_variables.scss */
input[type=submit] {
  display: block;
  cursor: pointer;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
}

/*
 * Mixins
 */
/*
 * Functions
 */
/*
 * General
*/
/* line 5, ../scss/pages/account/partials/_base.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 10, ../scss/pages/account/partials/_base.scss */
body {
  font-size: 1em;
  font: 16px/1.71428 "Proxima Nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000000;
  background-color: #fff;
}

/* line 21, ../scss/pages/account/partials/_base.scss */
.rounded {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 24, ../scss/pages/account/partials/_base.scss */
.shaded {
  text-shadow: 1px, 2px, #000;
}

/* line 27, ../scss/pages/account/partials/_base.scss */
::-moz-selection {
  background: green;
  color: #ffffff;
}

/* line 31, ../scss/pages/account/partials/_base.scss */
::selection {
  background: green;
  color: #ffffff;
}

/* line 35, ../scss/pages/account/partials/_base.scss */
a {
  color: #ffffff;
  text-decoration: none;
}

/* line 40, ../scss/pages/account/partials/_base.scss */
h1, h2, h3, .reservation-history h4, .reservations h4, h4, h5, h6 {
  color: #000000;
}

/* line 44, ../scss/pages/account/partials/_base.scss */
h2 {
  font-weight: 600;
}

/* line 47, ../scss/pages/account/partials/_base.scss */
p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 36px;
}

/* line 53, ../scss/pages/account/partials/_base.scss */
strong {
  font-weight: 800;
}

/* line 57, ../scss/pages/account/partials/_base.scss */
.container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 61, ../scss/pages/account/partials/_base.scss */
.holder {
  margin-top: 50px;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
.holder:after, .holder:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
.holder:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
.holder {
  *zoom: 1;
}

/* line 65, ../scss/pages/account/partials/_base.scss */
.bordered {
  margin-bottom: 40px;
  border-bottom: 1px solid #edf1f1;
}

/* line 69, ../scss/pages/account/partials/_base.scss */
.padding, #popup-wrapper header, #popup-wrapper footer, #popup-wrapper form {
  padding-left: 50px;
}

/* line 74, ../scss/pages/account/partials/_base.scss */
.padded-20 {
  margin-bottom: 20px;
}

/* line 74, ../scss/pages/account/partials/_base.scss */
.padded-40 {
  margin-bottom: 40px;
}

/* line 74, ../scss/pages/account/partials/_base.scss */
.padded-60 {
  margin-bottom: 60px;
}

/* line 74, ../scss/pages/account/partials/_base.scss */
.padded-80 {
  margin-bottom: 80px;
}

/*
	*Header
*/
/* line 5, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] {
  padding: 25px 0;
  background: url('/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 8, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .logo {
  margin-right: 30px;
  float: left;
  text-decoration: none;
}
/* line 11, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .logo strong {
  font-weight: 500;
  font-size: 9px;
  color: #ffffff;
  text-align: center;
}
/* line 17, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .logo img {
  display: block;
}
/* line 22, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .user-menu {
  padding-top: 6px;
  float: right;
}
/* line 25, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .user-menu li {
  margin-right: 25px;
  float: left;
}
/* line 29, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .user-menu li:nth-child(2) a {
  background-position: 0 -20px;
}
/* line 34, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .user-menu a {
  padding: 2px 0 2px 25px;
  font-size: 13px;
  font-weight: 500;
  display: block;
  background: url('/sprites-user-menu.png') no-repeat 0 2px;
}
/* line 42, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] nav {
  padding-top: 8px;
  float: left;
}
/* line 45, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] nav li {
  margin-right: 20px;
  float: left;
  font-size: 13px;
}
/* line 50, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] nav li:last-child:after {
  position: relative;
  right: -8px;
  top: -3px;
  content: '\25bc	';
  font-size: 7px;
  font-weight: normal;
  color: #ffffff;
}
/* line 61, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] nav a {
  font-weight: 600;
}
/* line 66, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .pic {
  padding-top: 100px;
  width: 15.25424%;
  float: left;
}
/* line 71, ../scss/pages/account/partials/modules/_header.scss */
header[role=banner] .info {
  width: 66.10169%;
  float: left;
  padding-left: 6.35593%;
  padding-top: 120px;
}

/*
 * Sidebar menu
*/
/* line 7, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
.account-heading {
  padding: 2em 0 2em 0px;
}

/* line 10, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu {
  width: 18.64407%;
  float: left;
}
/* line 16, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu li.heading {
  color: #3f9ee0;
  padding: 2px 0 5px;
}
/* line 20, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu li a {
  padding: 2px 0 2px;
  color: #4d4d4d;
  font-size: 15px;
  display: block;
}
/* line 28, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu li.selected a {
  color: #3f9ee0;
}
/* line 31, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu li.selected a:after {
  content: "\203A";
  position: relative;
  right: -10px;
  font-size: 15px;
}
/* line 39, ../scss/pages/account/partials/modules/_sidebar-menu.scss */
#sidebar-menu li:last-child:not(.selected) {
  border-bottom: 0;
}

/*
 * Main Content
*/
/* line 5, ../scss/pages/account/partials/modules/_main.scss */
div[role=main] {
  width: 79.66102%;
  float: left;
  padding-bottom: 100px;
}
/* line 9, ../scss/pages/account/partials/modules/_main.scss */
div[role=main] h1 {
  padding: 25px 50px 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #48adb1;
}
/* line 17, ../scss/pages/account/partials/modules/_main.scss */
div[role=main] h2 {
  padding: 0 0 20px 10px;
  font-size: 22px;
  color: #222222;
  /*    &:before {
          width: 9px;
          height: 8px;
          background-color: #039bbf;
          content:'';
          display: inline-block;
          position: relative;
          top:-3px;
          left:-10px;
      }//before*/
}
/* line 31, ../scss/pages/account/partials/modules/_main.scss */
div[role=main] h2 span {
  font-size: 15px;
  line-height: 35px;
  color: #838383;
  font-weight: 500;
  display: block;
  text-transform: none;
}

/* line 42, ../scss/pages/account/partials/modules/_main.scss */
.step-headline {
  margin-bottom: .25em;
  font-weight: bold;
  clear: both;
  position: relative;
  line-height: 1;
  padding-left: 45px !important;
}
/* line 49, ../scss/pages/account/partials/modules/_main.scss */
.step-headline span {
  display: block;
  font-size: 70%;
  font-style: italic;
  font-weight: normal;
}
/* line 66, ../scss/pages/account/partials/modules/_main.scss */
.step-headline:after {
  height: 35px;
  width: 35px;
  line-height: 36px;
  background: #3f9ee0;
  border-radius: 500px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: .95em;
}
/* line 80, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.a:after {
  content: 'A';
}
/* line 85, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.b:before {
  border: 2px solid #439adb;
}
/* line 88, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.b:after {
  background: #45bbc0;
  content: 'B';
}
/* line 94, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.c:after {
  content: 'C';
}
/* line 99, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.d:before {
  border: 2px solid #439adb;
}
/* line 102, ../scss/pages/account/partials/modules/_main.scss */
.step-headline.d:after {
  background: #439adb;
  content: 'D';
}

/*
 * Forms
*/
/* line 6, ../scss/pages/account/partials/modules/_forms.scss */
.account input[type=text], .account input[type=password] {
  width: 100%;
}

/* line 11, ../scss/pages/account/partials/modules/_forms.scss */
input[type=text], input[type=password] {
  padding: 15px;
  width: 66.10169%;
  float: left;
  margin-bottom: 12px;
  border: 1px solid #c0cdce;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
}
/* line 20, ../scss/pages/account/partials/modules/_forms.scss */
input[type=text].small, input[type=password].small {
  width: 32.20339%;
  float: left;
}

/* line 25, ../scss/pages/account/partials/modules/_forms.scss */
input[type=submit] {
  padding: 15px 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  float: right;
  background-color: #3f9ee0;
  font-size: 14px;
  color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMzZjllZTAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDgzYjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(90%, #3f9ee0), color-stop(100%, #3d83b2));
  background-image: -moz-linear-gradient(top, #3f9ee0 90%, #3d83b2);
  background-image: -webkit-linear-gradient(top, #3f9ee0 90%, #3d83b2);
  background-image: linear-gradient(to bottom, #3f9ee0 90%, #3d83b2);
  -moz-box-shadow: 0px 3px 2px #d8ebf9;
  -webkit-box-shadow: 0px 3px 2px #d8ebf9;
  box-shadow: 0px 3px 2px #d8ebf9;
}
/* line 39, ../scss/pages/account/partials/modules/_forms.scss */
input[type=submit]:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 44, ../scss/pages/account/partials/modules/_forms.scss */
fieldset {
  margin-bottom: 60px;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
fieldset:after, fieldset:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
fieldset:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
fieldset {
  *zoom: 1;
}
/* line 47, ../scss/pages/account/partials/modules/_forms.scss */
fieldset span {
  font-size: 12px;
  color: #222222;
  display: block;
  clear: both;
  text-transform: uppercase;
}
/* line 54, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label {
  margin-bottom: 30px;
  cursor: pointer;
  display: block;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
fieldset label:after, fieldset label:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
fieldset label:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
fieldset label {
  *zoom: 1;
}
/* line 59, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label.half {
  width: 45.91837%;
  float: left;
}
/* line 61, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label.half input[type=text] {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 64, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label.half:last-child {
  float: right;
  margin-right: 0;
}
/* line 68, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label.col5 {
  width: 18.91892%;
  float: left;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
fieldset label.col5:nth-child(5n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
fieldset label.col5:nth-child(5n + 2) {
  margin-left: 20.27027%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
fieldset label.col5:nth-child(5n + 3) {
  margin-left: 40.54054%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
fieldset label.col5:nth-child(5n + 4) {
  margin-left: 60.81081%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
fieldset label.col5:nth-child(5n + 5) {
  margin-left: 81.08108%;
  margin-right: -100%;
  clear: none;
}
/* line 70, ../scss/pages/account/partials/modules/_forms.scss */
fieldset label.col5 input[type=text] {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}
/* line 76, ../scss/pages/account/partials/modules/_forms.scss */
fieldset .row {
  margin-bottom: 30px;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
fieldset .row:after, fieldset .row:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
fieldset .row:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
fieldset .row {
  *zoom: 1;
}
/* line 79, ../scss/pages/account/partials/modules/_forms.scss */
fieldset .row label {
  margin-bottom: 0;
}

/*
 * Reservations History
*/
/* line 5, ../scss/pages/account/partials/modules/_reservation-history.scss */
.active-trip {
  color: #3f9ee0;
}

/* line 10, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .trip, .reservations .trip {
  margin-bottom: 40px;
  border-bottom: none;
  border: solid 1px #f4f7f8;
}
/* line 15, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .trip-details, .reservations .trip-details {
  padding: 20px;
}
/* line 18, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .tr, .reservations .tr {
  display: flex;
}
/* line 21, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th, .reservations .th {
  height: 46px;
  background-color: #f4f7f8;
  display: table-cell;
}
/* line 25, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th:first-child, .reservations .th:first-child {
  font-size: 14px;
  font-weight: bold;
}
/* line 26, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th:first-child span, .reservations .th:first-child span {
  padding: 12px 0 12px 20px;
  display: inline-block;
}
/* line 34, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th:first-child.active span, .reservations .th:first-child.active span {
  border-color: #6cbf4a;
  color: #6cbf4a;
}
/* line 40, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th:first-child.canceled span, .reservations .th:first-child.canceled span {
  border-color: #d95b32;
  color: #ea502f;
}
/* line 45, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th:first-child.modified, .reservations .th:first-child.modified {
  border-color: #009abe;
  color: #009abe;
}
/* line 57, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .th.col-3, .reservations .th.col-3 {
  padding: 10px 20px 0 0;
  text-align: right;
}
/* line 63, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .td, .reservations .td {
  padding: 20px 20px 10px 20px;
  vertical-align: top;
  border-bottom: 1px solid #eeeff0;
  display: table-cell;
}
/* line 68, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .td.middle, .reservations .td.middle {
  vertical-align: middle;
}
/* line 72, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history h3, .reservations h3, .reservation-history h4, .reservations h4 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 11px;
  color: #8a8b8a;
}
/* line 77, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history h3.right, .reservations h3.right, .reservation-history h4.right, .reservations h4.right {
  text-align: right;
}
/* line 81, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history h4, .reservations h4 {
  margin-bottom: 20px;
  font-size: 12px;
}
/* line 86, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history p, .reservations p {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  line-height: 20px;
}
/* line 92, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history p.active, .reservations p.active {
  color: #6cbf4a;
}
/* line 95, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history p.small, .reservations p.small {
  font-size: 15px;
}
/* line 98, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history p img, .reservations p img {
  bottom: -3px;
  position: relative;
}
/* line 103, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .blue, .reservations .blue {
  color: #3f9ee0;
}
/* line 106, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .green, .reservations .green {
  color: #6cbf4a;
}
/* line 109, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history .red, .reservations .red {
  color: #d95b32;
}
/* line 112, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history li, .reservations li {
  margin-bottom: 10px;
  text-align: right;
  overflow: hidden;
  color: #555555;
  font-size: 14px;
  font-weight: 600;
}
/* line 119, ../scss/pages/account/partials/modules/_reservation-history.scss */
.reservation-history li span, .reservations li span {
  width: 40px;
  float: right;
  font-weight: bold;
}

/* line 127, ../scss/pages/account/partials/modules/_reservation-history.scss */
.res-number, .reservations th:first-child span {
  padding: 4px 0px 4px 10px;
  display: inline-block;
  color: #b6b9ba;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 134, ../scss/pages/account/partials/modules/_reservation-history.scss */
.res-number span, .reservations th:first-child span span {
  color: #666e75;
  margin-left: 1em;
}
/* line 138, ../scss/pages/account/partials/modules/_reservation-history.scss */
.res-number + span, .reservations th:first-child span + span {
  margin-top: 10px;
  font-size: .75em;
  font-weight: bold;
  color: #404040;
}

/* line 146, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action {
  overflow: hidden;
}
/* line 148, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action li {
  margin-left: 10px;
  padding-left: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
/* line 155, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action a {
  padding-left: 20px;
  display: block;
  color: #439bdc;
  font-weight: bold;
  font-size: 14px;
}
/* line 161, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action a.options {
  margin-right: 10px;
  background: url('/ico-options.png') no-repeat left center;
}
/* line 164, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action a.options:after {
  position: relative;
  right: -7px;
  top: -1px;
  content: '\25bc';
  font-size: 9px;
  font-weight: normal;
  color: #439bdc;
}
/* line 174, ../scss/pages/account/partials/modules/_reservation-history.scss */
.action a.print {
  margin-right: 10px;
  background: url('/ico-print.png') no-repeat left center;
}

/* line 180, ../scss/pages/account/partials/modules/_reservation-history.scss */
.view-order {
  padding-left: 18px;
  background: url('/ico-search.png') no-repeat;
  display: inline-block;
  font-size: 13px;
  color: #5ea5d9;
  text-decoration: underline;
}
/* line 187, ../scss/pages/account/partials/modules/_reservation-history.scss */
.view-order:hover {
  text-decoration: none;
}

/*
 * Reservation
*/
/* line 5, ../scss/pages/account/partials/modules/_reservation.scss */
.welcome {
  padding: 0 !important;
}

/* line 10, ../scss/pages/account/partials/modules/_reservation.scss */
.info li {
  font-size: 36px;
  font-weight: 400;
  margin-right: 1em;
}
/* line 14, ../scss/pages/account/partials/modules/_reservation.scss */
.info li sup {
  font-size: 40%;
  margin-top: -1em;
  position: relative;
}
/* line 19, ../scss/pages/account/partials/modules/_reservation.scss */
.info li span {
  font-size: 14px;
  color: #45bbc0;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
.info:after, .info:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
.info:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
.info {
  *zoom: 1;
}
/* line 25, ../scss/pages/account/partials/modules/_reservation.scss */
.info dl {
  width: 15.25424%;
  float: left;
  font-size: 36px;
  font-weight: 300;
}
/* line 29, ../scss/pages/account/partials/modules/_reservation.scss */
.info dl dt {
  margin-bottom: 5px;
}
/* line 32, ../scss/pages/account/partials/modules/_reservation.scss */
.info dl dd {
  font-size: 14px;
  color: #6dbdc1;
}
/* line 36, ../scss/pages/account/partials/modules/_reservation.scss */
.info dl sup {
  font-size: 24px;
  vertical-align: super;
}

/* line 44, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations ul.action li {
  margin-top: 0;
}
/* line 47, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations table {
  width: 100%;
}
/* line 49, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations table td {
  padding: 10px;
}
/* line 54, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations th {
  margin-bottom: 1em;
  background-color: #f5f7f8;
  padding: 10px 0px;
}
/* line 59, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations th:first-child span {
  border: 0;
}
/* line 65, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations li {
  border-left: 1px solid #d9dcdc;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 69, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations li:last-child {
  border: none;
}
/* line 72, ../scss/pages/account/partials/modules/_reservation.scss */
.reservations li .view-order {
  text-decoration: none;
}

/* line 78, ../scss/pages/account/partials/modules/_reservation.scss */
.rewards {
  margin-top: 10px;
  background: url('/ico-info.png') left top no-repeat;
}
/* line 81, ../scss/pages/account/partials/modules/_reservation.scss */
.rewards h3, .rewards .reservation-history h4, .reservation-history .rewards h4, .rewards .reservations h4, .reservations .rewards h4 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #009abe;
}
/* line 87, ../scss/pages/account/partials/modules/_reservation.scss */
.rewards p {
  font-size: 14px;
  line-height: 22px;
  color: #8a8b8a;
  margin-bottom: 0;
}

/*
 * Reservations Overview
*/
/* line 6, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.page-title {
  text-transform: uppercase;
  color: #45bbc0;
}

/* line 14, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .pure-g {
  position: relative;
  padding: 0 10px;
}
/* line 17, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .pure-g div[class*="pure-"] {
  padding: 24px 0;
}
/* line 20, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .pure-g div.options-column {
  padding: 20px 0;
}
/* line 25, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .status-change {
  padding-top: 20px;
}
/* line 27, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .status-change .account-credited {
  position: absolute;
  font-size: 12px;
  color: #7b8185;
  font-weight: 800 span;
  font-weight-color: #6cbf4a;
}
/* line 36, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .status-change.pure-g > div[class*="pure-"] {
  color: #bdbebd !important;
}
/* line 40, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .status-change .options-column * {
  display: none;
}
/* line 74, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .table {
  width: 100%;
}
/* line 78, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .table-header {
  font-size: 11px;
  color: #222222;
}
/* line 85, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .td {
  font-size: 13px;
  font-weight: 600;
  color: #8a8b8a;
}
/* line 90, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .td .options {
  border: 1px solid #f7f9fa;
}
/* line 94, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr {
  line-height: 1.1em;
}
/* line 97, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr:nth-child(2n) {
  background-color: #f8fafb;
}
/* line 99, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr:nth-child(2n) .td {
  color: #3f9ee0;
}
/* line 101, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr:nth-child(2n) .td.active {
  color: #6cbf4a;
}
/* line 106, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr:nth-child(2n) .td ul:hover .options {
  border-color: #e1e3e3;
  border-bottom: 0;
}
/* line 112, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .tr:nth-child(2n) .td .options {
  border: 1px solid #ffffff;
}
/* line 117, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .blue {
  color: #3f9ee0;
}
/* line 120, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .darkBlue {
  color: #00607f;
}
/* line 123, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .green {
  color: #6cbf4a;
}
/* line 129, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul {
  position: relative;
}
/* line 131, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul * {
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
}
/* line 135, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul:hover ul {
  display: block;
}
/* line 138, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul:hover .options {
  border-bottom: 0 !important;
  z-index: 99;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 142, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul:hover .options span {
  background: url("img/account/sprites-options.png") no-repeat left -16px;
}
/* line 147, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul .options {
  padding: 3px;
  display: block;
  position: relative;
  z-index: 1;
  color: #3f9ee0;
  background: white;
  border: solid 1px #3f9ee0 !important;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 157, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul .options span {
  width: 16px;
  height: 16px;
  display: block;
  background: url("img/account/sprites-options.png") no-repeat left top;
}
/* line 164, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul ul {
  width: 225px;
  padding: 20px 20px 0 20px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 23px;
  border: 1px solid #3f9ee0;
  display: none;
  z-index: 9;
  -moz-border-radius: 5px 0 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 5px 5px;
}
/* line 175, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul ul li {
  margin-bottom: 15px;
}
/* line 178, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview ul ul a {
  font-weight: 600;
  font-size: 12px;
  color: #3f9ee0;
}
/* line 185, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview td {
  position: relative;
}
/* line 188, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .credited {
  padding: 5px 12px;
  white-space: nowrap;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  position: absolute;
  left: 50px;
  top: -10px;
  color: #8a8b8a;
  background-color: #ffffff;
  z-index: 9999;
}
/* line 198, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.reservations-overview .credited span {
  color: #6cbf4a;
}

/* line 204, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.bordered.padded-20 {
  margin-bottom: 20px;
}

/* line 208, ../scss/pages/account/partials/modules/_reservations-overview.scss */
.mobile-label {
  display: none;
}

/*
 * Popup
*/
/* line 4, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1000;
  display: none;
}
/* line 5, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .padding, #popup-wrapper header, #popup-wrapper footer, #popup-wrapper form {
  padding: 25px 50px;
}
/* line 17, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .content {
  max-width: 50%;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
  display: inline-block;
  position: relative;
  border: solid 1px #f4f7f8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
}
/* line 31, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper header {
  text-align: center;
  color: #313131;
}
/* line 35, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper header p {
  font-size: 20px;
  font-weight: normal;
  color: #45bbc0;
  margin-bottom: 0;
}
/* line 40, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper header p span {
  font-weight: 600;
}
/* line 45, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper h3, #popup-wrapper .reservation-history h4, .reservation-history #popup-wrapper h4, #popup-wrapper .reservations h4, .reservations #popup-wrapper h4 {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 600;
}
/* line 50, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .close {
  right: 20px;
  top: 20px;
  position: absolute;
  font-size: 23px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
/* line 58, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper footer {
  text-align: center;
}
/* line 61, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper footer p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #8a8b8a;
}
/* line 68, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .row {
  margin-bottom: 20px;
}
/* line 104, ../scss/pages/account/partials/_variables.scss */
#popup-wrapper .row:after, #popup-wrapper .row:before {
  content: "";
  display: table;
}
/* line 108, ../scss/pages/account/partials/_variables.scss */
#popup-wrapper .row:after {
  clear: both;
}
/* line 111, ../scss/pages/account/partials/_variables.scss */
#popup-wrapper .row {
  *zoom: 1;
}
/* line 72, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper form {
  padding-bottom: 0;
}
/* line 76, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper label {
  width: 44.91525%;
  float: left;
}
/* line 78, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper label:last-child {
  float: right;
  margin-right: 0;
}
/* line 82, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper input[type=text] {
  width: 100%;
  display: block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c0cdce;
  font-size: 17px;
  font-weight: 600;
  color: #222222;
}
/* line 92, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .cols label {
  width: 29.66102%;
  float: left;
  margin-right: 5.50847%;
}
/* line 95, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .cols label:last-child {
  float: right;
  margin-right: 0;
}
/* line 100, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .submit {
  text-align: center;
}
/* line 106, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper fieldset {
  margin-bottom: 0;
}
/* line 110, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .seats input {
  padding-left: 34px;
  background: url("img/account/ico-seats.png") 10px center no-repeat !important;
}
/* line 116, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .calendar input {
  padding-left: 34px;
  background: url("img/account/ico-calendar.png") 10px center no-repeat;
}
/* line 122, ../scss/pages/account/partials/modules/_popup.scss */
#popup-wrapper .location input {
  padding-left: 34px;
  background: url("img/account/ico-location.png") 10px center no-repeat;
}

/*
 * Media Queries
 */
/*
 * 1368
*/
/*
 * 1200
 */
/*
 * 1024
 */
@media only screen and (max-width: 64em) {
  /* line 20, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] {
    padding: 10px 0;
    text-align: center;
  }
  /* line 22, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .container {
    max-width: 450px;
  }
  /* line 25, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .user-menu, header[role=banner] .logo, header[role=banner] nav {
    display: inline-block;
    float: none;
  }
  /* line 30, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .user-menu {
    margin-bottom: 10px;
  }
  /* line 34, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .logo {
    margin-bottom: 10px;
  }

  /* line 42, ../scss/pages/account/partials/_media-queries.scss */
  body {
    background: none;
    background-color: #fff;
  }

  /* line 46, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu {
    width: auto;
    float: none;
    text-align: center;
    padding-top: 0;
    background-color: #fff;
  }
  /* line 52, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu ul {
    display: inline-block;
  }
  /* line 55, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu li {
    border: none;
  }
  /* line 57, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu li.heading {
    padding: 15px 10px;
  }
  /* line 60, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu li a {
    padding: 15px 10px;
    font-size: 13px;
  }
  /* line 64, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu li.selected {
    border: 0;
  }
  /* line 67, ../scss/pages/account/partials/_media-queries.scss */
  #sidebar-menu li.selected a:after {
    display: none;
  }

  /* line 74, ../scss/pages/account/partials/_media-queries.scss */
  div[role=main] {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #e5e5e5;
  }
  /* line 78, ../scss/pages/account/partials/_media-queries.scss */
  div[role=main] h1 {
    padding: 20px;
    margin-bottom: 20px;
  }
  /* line 82, ../scss/pages/account/partials/_media-queries.scss */
  div[role=main] .padding, div[role=main] #popup-wrapper header, #popup-wrapper div[role=main] header, div[role=main] #popup-wrapper footer, #popup-wrapper div[role=main] footer, div[role=main] #popup-wrapper form, #popup-wrapper div[role=main] form {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 86, ../scss/pages/account/partials/_media-queries.scss */
  footer[role=contentinfo] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*
 * Custom 900
 */
@media only screen and (max-width: 56.25em) {
  /* line 95, ../scss/pages/account/partials/_media-queries.scss */
  table {
    overflow-x: auto;
    display: block;
  }

  /* line 99, ../scss/pages/account/partials/_media-queries.scss */
  .menu-block {
    width: 50%;
    float: left;
  }
  /* line 101, ../scss/pages/account/partials/_media-queries.scss */
  .menu-block:last-child {
    float: left;
  }
}
/*
 * 768
 */
/*
 * 660
 */
@media only screen and (max-width: 44em) {
  /* line 120, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] nav li {
    margin-right: 10px;
  }
  /* line 123, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] nav a {
    font-weight: normal;
  }

  /* line 128, ../scss/pages/account/partials/_media-queries.scss */
  fieldset label.col5:nth-child(5n + 2), fieldset label.col5, fieldset label.col5:nth-child(5n + 3), fieldset label.col5:nth-child(5n + 4), fieldset label.col5:nth-child(5n + 5) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: none;
  }

  /* line 134, ../scss/pages/account/partials/_media-queries.scss */
  input[type=text].small, input[type=password].small, input[type=text], input[type=password] {
    width: 100%;
  }

  /* line 137, ../scss/pages/account/partials/_media-queries.scss */
  input[type="submit"] {
    width: 100%;
  }

  /* line 140, ../scss/pages/account/partials/_media-queries.scss */
  .res-number, .reservations th:first-child span {
    display: none;
  }
  /* line 142, ../scss/pages/account/partials/_media-queries.scss */
  .res-number + span, .reservations th:first-child span + span {
    text-align: center;
    margin-top: 12px;
    display: inline-block;
    line-height: 1.1em;
  }

  /* line 149, ../scss/pages/account/partials/_media-queries.scss */
  .reservation-history h3.right, .reservations h3.right, .reservation-history h4.right, .reservations h4.right, .reservations h3.right, .reservations h4.right, .reservation-history h4.right, .reservations h4.right, .reservations h4.right {
    text-align: left;
  }

  /* line 152, ../scss/pages/account/partials/_media-queries.scss */
  .reservation-history li, .reservations li, .reservations li {
    text-align: left;
  }

  /* line 155, ../scss/pages/account/partials/_media-queries.scss */
  .reservation-history li span, .reservations li span, .reservations li span {
    float: none;
  }

  /* line 158, ../scss/pages/account/partials/_media-queries.scss */
  .reservation-history p, .reservations p, .reservations p, .reservation-history li, .reservations li, .reservations li {
    font-size: 12px;
  }

  /* line 161, ../scss/pages/account/partials/_media-queries.scss */
  .reservation-history .th:first-child span, .reservations .th:first-child span, .reservations .th:first-child span {
    font-size: 12px;
    padding: 12px 0 12px 12px;
  }

  /* line 165, ../scss/pages/account/partials/_media-queries.scss */
  .table-header-wrap {
    display: none;
  }

  /* line 168, ../scss/pages/account/partials/_media-queries.scss */
  .mobile-label {
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: bold;
    color: #777;
    padding-top: 10px;
  }

  /* line 176, ../scss/pages/account/partials/_media-queries.scss */
  .reservations-overview .tr {
    border-bottom: 1px solid #e6e6e6;
  }

  /* line 179, ../scss/pages/account/partials/_media-queries.scss */
  .reservations-overview ul {
    position: static;
    top: 0;
  }
  /* line 182, ../scss/pages/account/partials/_media-queries.scss */
  .reservations-overview ul li .options {
    display: none;
  }
  /* line 185, ../scss/pages/account/partials/_media-queries.scss */
  .reservations-overview ul ul {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    border: none;
    top: 0;
    background: transparent;
  }
  /* line 193, ../scss/pages/account/partials/_media-queries.scss */
  .reservations-overview ul ul li a {
    color: #3f9ee0;
    text-decoration: underline;
  }
}
/*
 * 480
 */
@media only screen and (max-width: 30em) {
  /* line 205, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .container {
    max-width: 420px;
  }
  /* line 208, ../scss/pages/account/partials/_media-queries.scss */
  header[role=banner] .user-menu a {
    padding: 0;
    background: none;
  }

  /* line 213, ../scss/pages/account/partials/_media-queries.scss */
  .menu-block {
    width: 100%;
    float: left;
    float: none;
  }
  /* line 216, ../scss/pages/account/partials/_media-queries.scss */
  .menu-block:last-child {
    float: none;
  }
}
