/* line 89, ../scss/base/_variables.scss */
.font-awesome, dl:before, .box-holder .box dl:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../scss/base/_helpers.scss */
.region, .login, #nav, #nav .drop, .content-holder, .link-list, .social-networks {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 10, ../scss/base/_helpers.scss */
.clearfix:after, .container:after, .region:after, .menu:after, #nav:after, .total:after, .account-form > .row:after, .box-holder:after, .box-holder .box dl:after, .box-holder .box .title:after, .form-info > .row:after, .discount-form > .row:after, .payment-form > .row:after, .payment-form .col:after, .accept-form .row:after, .footer-nav:after, .nav-box dl:after, .social-networks:after {
  content: '';
  display: block;
  clear: both;
}

/* line 50, ../scss/base/_helpers.scss */
.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

/* line 1, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.hlpr-txt {
  color: #7e7e7e;
  font-weight: 200;
}
/* line 4, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.hlpr-txt b {
  font-weight: 800;
  color: #222;
}

/* line 11, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-detail-information {
  width: 100%;
  padding: 0 20px 20px !important;
}
/* line 12, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-detail-information > div {
  float: none !important;
}
/* line 15, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-detail-information .trip-alert {
  float: none;
  text-align: left;
  padding: 0;
}
/* line 19, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-detail-information .trip-alert p {
  font-weight: 400;
  color: #ef5840;
  font-weight: 800;
  font-size: 12px;
}
/* line 24, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.mobile-only .trip-detail-information .trip-alert p {
  font-size: 12px;
  margin-top: 2em;
}

/* line 34, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-amenities, .section-reserve {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

/* line 41, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.amenities-display {
  margin-bottom: 4em;
  padding-top: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
/* line 46, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.amenities-display div.item {
  color: #7e7e7e;
  font-size: 14px;
  border: solid 1px #e2e2e2;
  padding: 15px;
  text-align: center;
  margin-left: -1px;
}
/* line 54, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.amenities-display div.item:first-child {
  margin-left: 0;
}
/* line 57, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.amenities-display div.item span {
  padding: 10px 0;
}
/* line 60, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.amenities-display div.item .icon {
  margin-right: .5em;
  fill: #3f9ee0;
  stroke: #3f9ee0;
  position: relative;
  top: 5px;
  width: 18px;
  height: 18px;
  display: inline;
}

/* line 73, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker {
  display: table;
  width: 100%;
  margin-top: 2em;
}
/* line 78, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table-row;
  width: 100%;
}
@media (max-width: 480px) {
  /* line 78, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .day-picker ul {
    font-size: .72em;
  }
}
/* line 87, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li {
  border-left: 1px solid #dfe6e6;
  border-top: 1px solid #dfe6e6;
  border-bottom: 1px solid #dfe6e6;
  background: #f8fafb;
  padding: 20px 0;
  text-align: center;
  display: table-cell;
  cursor: pointer;
  width: 20%;
}
/* line 97, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #eef3f5;
}
/* line 101, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li.active {
  background: #3fb9be;
  border-color: #39a6ab;
  border-right: 1px solid #39a6ab;
}
/* line 106, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.return-trip .day-picker ul li.active {
  background: #3f9ee0;
}
/* line 109, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li.active .day, .day-picker ul li.active .date {
  color: #fff;
}
/* line 113, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li:first-child {
  border-radius: 5px 0 0 5px;
}
/* line 116, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #dfe6e6;
}
/* line 120, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li .day {
  display: block;
  color: #3f9ee0;
  font-weight: 600;
}
/* line 125, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.day-picker ul li .date {
  color: #646565;
  font-size: .8em;
  padding-top: .4em;
  display: block;
}

/* line 138, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-overview .trip-details {
  font-weight: 700;
  font-size: .9em;
}
/* line 141, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-overview .trip-details b {
  color: #363636;
}
/* line 144, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-overview .trip-details span {
  color: #3fb9be;
}
/* line 147, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-overview .trip-details i {
  font-size: 2em;
  color: #d0dada;
  position: relative;
  top: 3px;
  padding: .2em;
  display: inline-block;
}
@media (max-width: 480px) {
  /* line 147, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-overview .trip-details i {
    opacity: 0;
    display: block;
    height: 3px;
  }
}
/* line 161, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-overview .trip-details-sub {
  color: #7e7e7e;
  font-size: .8em;
  font-weight: 200;
}
@media (max-width: 480px) {
  /* line 161, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-overview .trip-details-sub {
    padding-top: 10px;
  }
}

/* line 171, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
/* line 177, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options .mobile-only.option {
  margin-top: 11px;
  width: 100%;
  padding: 1em;
}
/* line 182, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options .web-only {
  width: 100%;
  padding: 0;
  float: none;
  line-height: inherit;
}
/* line 188, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li {
  border-bottom: 1px solid #e7ecec;
  overflow: hidden;
  cursor: pointer;
}
/* line 192, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li:nth-child(even) {
  background: #f8fafb;
}
@media (max-width: 480px) {
  /* line 192, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li:nth-child(even) {
    background: #fff;
  }
}
/* line 199, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li:hover span {
  color: #3fb9be;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 204, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li:hover .price span {
  color: #3f9ee0;
}
/* line 210, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div {
  float: left;
  padding: 25px 0 20px;
  line-height: 1.7em;
}
@media (max-width: 480px) {
  /* line 210, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div {
    padding: 0;
    line-height: 1;
  }
}
/* line 219, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.select-indicator .checkmark {
  width: 25px;
  height: 25px;
  border: 2px solid #e6e6e6;
  border-radius: 50px;
  padding: 0;
  top: 25px;
  left: 7px;
  position: relative;
}
@media (max-width: 480px) {
  /* line 230, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.arrive-time {
    font-size: .7em;
  }
  /* line 233, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.arrive-time span {
    color: #8a9ca8;
  }
  /* line 235, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.arrive-time span.time {
    padding-top: 0;
  }
}
/* line 241, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.arrow {
  margin-top: 42px;
  text-align: center;
}
/* line 244, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.arrow .icon {
  vertical-align: middle;
  fill: #b6c1c9;
  stroke: #b6c1c9;
}
@media (max-width: 480px) {
  /* line 250, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.space {
    display: none;
  }
}
/* line 255, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div .ban {
  color: #ef5840 !important;
}
/* line 258, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.price {
  padding-top: 2.5em;
  line-height: 1.2em;
}
@media (max-width: 480px) {
  /* line 258, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.price {
    text-align: right;
    padding-top: 0;
  }
}
/* line 267, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.price span {
  color: #545454;
}
/* line 268, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.price span.sold-out {
  color: #ef5840 !important;
  font-weight: 800;
}
@media (max-width: 480px) {
  /* line 273, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.price span.label {
    display: none;
  }
}
/* line 278, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div.price span.price {
  font-size: 1.6em;
}
@media (max-width: 480px) {
  /* line 278, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div.price span.price {
    font-size: 1.4em;
    line-height: 66px;
  }
}
/* line 288, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div span {
  display: block;
  text-align: center;
  color: #b6c1c9;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 480px) {
  /* line 288, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div span {
    text-align: left;
    color: #627684;
    display: inline-block;
  }
}
/* line 298, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div span.label {
  text-transform: uppercase;
  font-size: .75em;
}
@media (max-width: 480px) {
  /* line 298, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div span.label {
    padding-top: 0;
    font-weight: 700;
  }
}
/* line 306, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div span.time {
  letter-spacing: .4px;
  font-size: 2em;
}
@media (max-width: 480px) {
  /* line 306, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div span.time {
    padding-top: 20px;
    font-size: 1.1em;
  }
}
/* line 314, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li div span.location {
  text-transform: uppercase;
  font-size: .9em;
}
@media (max-width: 480px) {
  /* line 314, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-options li div span.location {
    display: none;
  }
}
/* line 323, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li .alert {
  color: #e25054;
  line-height: 1em;
  padding: 0;
  clear: both;
  padding-left: 2em;
  font-size: .8em;
  position: relative;
  bottom: 10px;
}
/* line 332, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-options li .alert .icon {
  fill: #e25054;
  height: 15px;
  width: 12px;
  font-size: .8em;
  overflow: hidden;
  margin-top: 1em;
  vertical-align: text-bottom;
}

/* line 346, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .btn {
  font-size: 12px;
}
/* line 351, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .mobile-only .amenities-display p {
  float: none;
  margin-top: 2em;
}
/* line 357, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .amenities-display {
  padding: 0;
  margin-bottom: 0;
  display: block;
}
/* line 361, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .amenities-display p {
  float: left;
  margin-right: 1em;
  margin-bottom: 0;
  font-size: 12px;
}
/* line 369, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .amenities-display div.item {
  padding: 0px 5px;
  border: 0;
  font-size: 0;
}
/* line 373, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-card .amenities-display div.item .icon {
  width: 13px;
  height: 13px;
}

/* General Section Styles */
/* line 382, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta {
  width: 25%;
  border: solid 1px #e2e2e2;
  display: none;
}
/* line 387, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .amenities-display {
  display: block;
  margin: 5px 0 0;
  padding: 0;
}
/* line 391, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .amenities-display .item {
  display: inline;
  padding: 5px;
  border: 0;
}
/* line 395, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .amenities-display .item svg {
  margin: 0;
}
/* line 400, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .seats {
  float: right;
  font-size: 14px;
  color: white;
  padding-bottom: 0;
  text-transform: none;
}
/* line 406, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .seats strong {
  color: white;
}
/* line 409, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .seats:before {
  font-size: 21px;
  top: -7px;
  left: 2px;
  color: white;
}
/* line 417, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .edit-trip {
  text-align: center;
  padding-top: 10px;
}
/* line 420, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .edit-trip a {
  background: #3f9ee0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  float: none;
  width: 100%;
  padding: 10px;
  line-height: 1;
  height: auto;
}
@media (min-width: 768px) {
  /* line 382, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .trip-meta {
    display: block;
  }
}
/* line 438, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .leg-meta:first-child {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: dashed 1px #3fb9be;
}
/* line 444, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .leg-meta:nth-child(2) h4, .trip-meta .leg-meta:nth-child(2) i, .trip-meta .leg-meta:nth-child(2) svg {
  color: #3f9ee0;
  fill: #3f9ee0 !important;
}
/* line 450, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 454, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta h4, .trip-meta i, .trip-meta svg {
  color: #3fb9be;
  fill: #3fb9be !important;
}
/* line 458, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta p {
  font-size: 12px;
  margin-bottom: 0;
}
/* line 462, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .meta-title {
  padding: 10px;
  border-bottom: solid 1px #e2e2e2;
  margin: 0;
  background: #3fb9be;
}
/* line 467, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .meta-title p {
  font-weight: 800;
  color: white;
  margin: 0;
  font-size: 14px;
}
/* line 475, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.trip-meta .meta-content {
  padding: 10px;
}

@media (min-width: 768px) {
  /* line 482, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve .content-holder {
    width: 70%;
    margin-left: 5%;
  }
  /* line 487, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve.sticky .trip-meta {
    max-width: 240px;
    width: 18.5%;
    position: fixed;
    max-width: 240px;
    top: 20px;
  }
  /* line 494, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve.sticky .content-holder {
    margin-left: 30%;
  }
  /* line 498, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve .trip-meta, .section-reserve .content-holder {
    float: left;
  }
}
/* line 502, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-reserve h2 {
  text-align: center;
  font-size: 2.2em;
  color: #222;
}
@media (max-width: 480px) {
  /* line 502, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve h2 {
    font-size: 1.7em;
    width: 90%;
    margin: auto;
    line-height: 1em;
    padding: 2em 0 1em;
  }
}
/* line 514, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-reserve h3 {
  font-size: 1.3em;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: .5em;
}
/* line 519, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-reserve h3.reserve-section-headline {
  font-weight: normal;
  clear: both;
  /* &:before {
  	border-radius: 500px;
  	border: 2px solid #3fb1b5;
  	height: 43px;
  	width: 43px;
  	position: absolute;
  	left: -67px;
  	top: -12px;
  	content: '';
  }
  &:after {
  	height: 35px;
  	width: 35px;
  	line-height: 35px;
  	background: rgba(63, 177, 181, 1);
  	border-radius: 500px;
  	text-align: center;
  	color: #fff;
  	position: absolute;
  	left: -63px;
  	top: -8px;
  	font-size: .95em;
  }
  &.a {
  	&:after {
  		content: 'A';
  	}
  }
  &.b {
  	&:before {
  		border: 2px solid #439adb;
  	}
  	&:after {
  		background: #439adb;
  		content: 'B';
  	}
  }
  &.c {
  	&:after {
  		content: 'C';
  	}
  }
  &.d {
  	&:before {
  		border: 2px solid #439adb;
  	}
  	&:after {
  		background: #439adb;
  		content: 'D';
  	}
  } */
}
/* line 520, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-reserve h3.reserve-section-headline i {
  margin-right: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 526, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
  .section-reserve h3.reserve-section-headline:before, .section-reserve h3.reserve-section-headline:after {
    display: none;
  }
}
/* line 582, ../scss/pages/reserve/_reserve-step-one-and-two.scss */
.section-reserve h3 b {
  font-weight: 600;
}

/* line 3, ../scss/base/_forms.scss */
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

@media (max-width: 1023px) {
  /* line 10, ../scss/base/_forms.scss */
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='search'],
  input[type='password'],
  textarea {
    width: 100%;
  }
}
/* line 30, ../scss/base/_forms.scss */
input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='password']:focus,
textarea:focus {
  border-color: #25b0b6;
  box-shadow: 0 0 8px rgba(47, 157, 228, 0.2);
  outline: none;
}
/* line 257, ../scss/base/_mixins.scss */
input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #73797d;
  font-weight: 600;
}
/* line 258, ../scss/base/_mixins.scss */
input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #73797d;
  font-weight: 600;
}
/* line 259, ../scss/base/_mixins.scss */
input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder {
  color: #73797d;
  font-weight: 600;
}
/* line 260, ../scss/base/_mixins.scss */
input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #73797d;
  font-weight: 600;
}
/* line 261, ../scss/base/_mixins.scss */
input[type='text'].placeholder,
input[type='tel'].placeholder,
input[type='email'].placeholder,
input[type='search'].placeholder,
input[type='password'].placeholder,
textarea.placeholder {
  color: #73797d;
  font-weight: 600;
}

/* line 42, ../scss/base/_forms.scss */
select {
  -webkit-border-radius: 0;
}

/* line 46, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
  vertical-align: top;
}

/*button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	border: none;
	height: 50px; 
	font-weight: bold;
	border-radius: 4px;
	font-size: 13px;
	padding: 5px;
	border-bottom: 2px solid $btn-border;
	color: $white;
	background: $btn-blue;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 3px  4px rgba($btn-blue,0.3);
	@include media ('<phone') {
		font-size: 12px;
		height: 40px;
	}
		&:hover{
			 background: darken($btn-blue,10%);
		}
}*/
/* line 80, ../scss/base/_forms.scss */
label.reserve {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  padding: 9px 0 3px;
  color: #73797d;
}
@media (max-width: 1023px) {
  /* line 80, ../scss/base/_forms.scss */
  label.reserve {
    padding: 7px 0 5px;
  }
}
@media (max-width: 767px) {
  /* line 80, ../scss/base/_forms.scss */
  label.reserve {
    font-size: 11px;
  }
}

/* line 96, ../scss/base/_forms.scss */
button[type="button"][disabled] {
  opacity: 0.5;
  background: #cfd5d9 !important;
  border: 2px solid #cfd5d9 !important;
  border-bottom: 2px solid #aeb5b9 !important;
  text-shadow: none !important;
  box-shadow: 0 3px 4px rgba(174, 181, 185, 0.3) !important;
}
/* line 103, ../scss/base/_forms.scss */
button[type="button"][disabled]:hover {
  opacity: 0.5;
  background: #cfd5d9 !important;
  border: 2px solid #cfd5d9 !important;
  border-bottom: 2px solid #aeb5b9 !important;
  text-shadow: none !important;
  box-shadow: 0 3px 4px rgba(174, 181, 185, 0.3) !important;
}

/* line 40, ../scss/pages/reserve/_reserve-step-three.scss */
.section-reserve {
  position: relative;
}
/* line 43, ../scss/pages/reserve/_reserve-step-three.scss */
.logged-in .section-reserve {
  top: -60px;
}
@media (max-width: 767px) {
  /* line 43, ../scss/pages/reserve/_reserve-step-three.scss */
  .logged-in .section-reserve {
    top: -20px;
  }
}

/* line 51, ../scss/pages/reserve/_reserve-step-three.scss */
dl {
  position: relative;
}
/* line 53, ../scss/pages/reserve/_reserve-step-three.scss */
dl:before {
  position: aboslute;
}
/* line 58, ../scss/pages/reserve/_reserve-step-three.scss */
dl.returning-top:before {
  content: "\f063";
}
/* line 61, ../scss/pages/reserve/_reserve-step-three.scss */
dl.departing-trip:before {
  content: "\f062";
}

/* line 65, ../scss/pages/reserve/_reserve-step-three.scss */
#wrapper {
  overflow: hidden;
  position: relative;
}

/* line 70, ../scss/pages/reserve/_reserve-step-three.scss */
.visual {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: 100% 50%;
  min-height: 455px;
}
/* line 79, ../scss/pages/reserve/_reserve-step-three.scss */
.visual:before {
  content: ' ';
  background: rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: -2px;
  left: 0;
  height: 220px;
  right: 0;
}
/* line 89, ../scss/pages/reserve/_reserve-step-three.scss */
.visual img {
  width: 100%;
}

/* line 94, ../scss/pages/reserve/_reserve-step-three.scss */
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 767px) {
  /* line 94, ../scss/pages/reserve/_reserve-step-three.scss */
  .container {
    padding: 0 10px;
  }
}

/* line 104, ../scss/pages/reserve/_reserve-step-three.scss */
#header {
  padding: 28px 0 12px;
  margin: 0 0 56px;
  position: relative;
}
@media (max-width: 1023px) {
  /* line 104, ../scss/pages/reserve/_reserve-step-three.scss */
  #header {
    padding: 12px 0;
    margin: 0 0 18px;
  }
}
/* line 112, ../scss/pages/reserve/_reserve-step-three.scss */
#header:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 1px;
  background: rgba(223, 230, 230, 0.25);
}

/* line 124, ../scss/pages/reserve/_reserve-step-three.scss */
.logo-holder {
  float: left;
  padding: 0 28px 0 0;
}
@media (max-width: 1023px) {
  /* line 124, ../scss/pages/reserve/_reserve-step-three.scss */
  .logo-holder {
    padding: 0;
  }
}

/* line 132, ../scss/pages/reserve/_reserve-step-three.scss */
.logo {
  width: 120px;
  height: 31px;
  margin: 0 0 1px;
}

/* line 138, ../scss/pages/reserve/_reserve-step-three.scss */
.region {
  font-size: 10px;
}
/* line 142, ../scss/pages/reserve/_reserve-step-three.scss */
.region li {
  float: left;
  padding: 0 10px 0 0;
  position: relative;
  color: #fff;
  text-decoration: none;
}
/* line 148, ../scss/pages/reserve/_reserve-step-three.scss */
.region li:first-child:before {
  display: none;
}
/* line 149, ../scss/pages/reserve/_reserve-step-three.scss */
.region li:before {
  content: ' ';
  position: absolute;
  left: -5px;
  margin: -1px 0 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 7px;
  background: #fff;
}

/* line 163, ../scss/pages/reserve/_reserve-step-three.scss */
.login {
  float: right;
  padding: 5px 0 0;
}
@media (max-width: 1023px) {
  /* line 163, ../scss/pages/reserve/_reserve-step-three.scss */
  .login {
    display: none;
  }
}
/* line 170, ../scss/pages/reserve/_reserve-step-three.scss */
.login li {
  float: left;
  margin-left: 32px;
}
@media (max-width: 1023px) {
  /* line 170, ../scss/pages/reserve/_reserve-step-three.scss */
  .login li {
    margin: 10px;
  }
}
/* line 177, ../scss/pages/reserve/_reserve-step-three.scss */
.login a {
  padding-left: 25px;
  font-size: 13px;
  font-family: "Proxima", "Helvetica Neue", "Helvetica", sans-serif;
  color: #fff;
  text-decoration: none;
  position: relative;
}
@media (max-width: 1023px) {
  /* line 177, ../scss/pages/reserve/_reserve-step-three.scss */
  .login a {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  /* line 177, ../scss/pages/reserve/_reserve-step-three.scss */
  .login a {
    font-size: 11px;
  }
}
/* line 190, ../scss/pages/reserve/_reserve-step-three.scss */
.login a:hover {
  color: #d9d9d9;
}
/* line 194, ../scss/pages/reserve/_reserve-step-three.scss */
.login .icon-ticket:before,
.login .icon-user-arrow:before {
  content: '\e907';
  position: absolute;
  font-size: 18px;
  left: -5px;
  margin: -1px 0 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'icomoon';
}
/* line 205, ../scss/pages/reserve/_reserve-step-three.scss */
.login .icon-user-arrow:before {
  content: '\e90a';
  font-size: 22px;
  left: -5px;
}

/* line 217, ../scss/pages/reserve/_reserve-step-three.scss */
#nav {
  padding: 5px 0 0;
}
/* line 221, ../scss/pages/reserve/_reserve-step-three.scss */
#nav > li {
  float: left;
  margin: 0  23px 0 0;
  position: relative;
}
@media (max-width: 1023px) {
  /* line 221, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav > li {
    float: none;
    margin: 0;
  }
}
/* line 229, ../scss/pages/reserve/_reserve-step-three.scss */
#nav > li a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 1023px) {
  /* line 229, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav > li a {
    color: #2f9de4;
    display: block;
    font-size: 14px;
    padding: 5px;
    transition: all 0.25s;
  }
  /* line 241, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav > li a:hover {
    background: #e6e6e6;
  }
}
/* line 248, ../scss/pages/reserve/_reserve-step-three.scss */
#nav > li.hover > a, #nav > li.active > a {
  color: #d9d9d9;
}
@media (max-width: 1023px) {
  /* line 248, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav > li.hover > a, #nav > li.active > a {
    color: #2f9de4;
  }
}
/* line 254, ../scss/pages/reserve/_reserve-step-three.scss */
#nav > li.hover .drop, #nav > li.active .drop {
  display: block;
}
/* line 259, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .drop {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 150px;
  left: 0;
  border: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1023px) {
  /* line 259, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav .drop {
    width: 100%;
    position: static;
    border: none;
  }
}
/* line 275, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .drop li.active > a {
  color: #d9d9d9;
}
@media (max-width: 1023px) {
  /* line 275, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav .drop li.active > a {
    color: #2f9de4;
  }
}
/* line 283, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .drop a {
  text-transform: none;
  display: block;
  padding: 5px;
  transition: all 0.25s;
}
/* line 288, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .drop a:hover {
  background: #b3b3b3;
}
@media (max-width: 1023px) {
  /* line 288, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav .drop a:hover {
    background: #e6e6e6;
  }
}
/* line 296, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .has-drop-down {
  position: relative;
}
/* line 298, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .has-drop-down > a {
  padding: 0 20px  0 0;
}
@media (max-width: 1023px) {
  /* line 298, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav .has-drop-down > a {
    padding: 5px;
  }
}
/* line 303, ../scss/pages/reserve/_reserve-step-three.scss */
#nav .has-drop-down > a:before {
  content: ' ';
  position: absolute;
  right: 3px;
  top: 8px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 4px 3px 0 4px;
}
@media (max-width: 1023px) {
  /* line 303, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav .has-drop-down > a:before {
    top: 13px;
    right: 10px;
    border-color: #2f9de4 transparent transparent transparent;
  }
}

/* line 321, ../scss/pages/reserve/_reserve-step-three.scss */
.visible {
  display: none;
}
@media (max-width: 1023px) {
  /* line 321, ../scss/pages/reserve/_reserve-step-three.scss */
  .visible {
    display: block;
  }
}
/* line 326, ../scss/pages/reserve/_reserve-step-three.scss */
.visible a {
  font-family: "Proxima", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 10px;
}
/* line 329, ../scss/pages/reserve/_reserve-step-three.scss */
.visible a:before {
  font-family: 'icomoon';
  margin-right: 5px;
}

@media (max-width: 1023px) {
  /* line 336, ../scss/pages/reserve/_reserve-step-three.scss */
  #nav {
    float: none;
    display: none;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    z-index: 50;
    right: 0;
    border-bottom: 2px solid #2f9de4;
  }
}

/* line 352, ../scss/pages/reserve/_reserve-step-three.scss */
.opener {
  float: right;
  width: 31px;
  height: 31px;
  background: #2bbbc1;
  position: relative;
  border-radius: 3px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 10px 5px 10px;
}
@media (min-width: 1024px) {
  /* line 352, ../scss/pages/reserve/_reserve-step-three.scss */
  .opener {
    display: none;
  }
}
/* line 363, ../scss/pages/reserve/_reserve-step-three.scss */
.opener:before, .opener:after, .opener span {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  left: 20%;
  right: 20%;
  height: 3px;
  margin-top: -2px;
  transition: all 0.2s linear;
}
/* line 376, ../scss/pages/reserve/_reserve-step-three.scss */
.opener:before, .opener:after {
  content: '';
  top: 10px;
}
/* line 381, ../scss/pages/reserve/_reserve-step-three.scss */
.opener:after {
  top: 22px;
}
/* line 382, ../scss/pages/reserve/_reserve-step-three.scss */
.opener:hover {
  opacity: .9;
}

/* line 386, ../scss/pages/reserve/_reserve-step-three.scss */
.active #nav {
  display: block;
}
/* line 390, ../scss/pages/reserve/_reserve-step-three.scss */
.active .opener span {
  opacity: 0;
}
/* line 393, ../scss/pages/reserve/_reserve-step-three.scss */
.active .opener:after, .active .opener:before {
  transform: rotate(45deg);
  top: 16px;
  left: 15%;
  right: 15%;
}
/* line 400, ../scss/pages/reserve/_reserve-step-three.scss */
.active .opener:after {
  transform: rotate(-45deg);
}

/* line 407, ../scss/pages/reserve/_reserve-step-three.scss */
#main {
  overflow: hidden;
}

/* line 411, ../scss/pages/reserve/_reserve-step-three.scss */
.total {
  background: rgba(43, 187, 193, 0.96);
  border-radius: 4px 4px 0 0;
  padding: 43px 48px 30px 48px;
  color: #fff;
  font-size: 29px;
  overflow: hidden;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  /* line 411, ../scss/pages/reserve/_reserve-step-three.scss */
  .total {
    text-align: center;
    padding: 30px 45px 10px;
  }
}
@media (max-width: 479px) {
  /* line 411, ../scss/pages/reserve/_reserve-step-three.scss */
  .total {
    padding: 15px 10px 0;
  }
}

/* line 431, ../scss/pages/reserve/_reserve-step-three.scss */
.text-holder {
  padding: 2px 10px 0 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 431, ../scss/pages/reserve/_reserve-step-three.scss */
  .text-holder {
    width: 100%;
    padding: 5px;
  }
}
/* line 438, ../scss/pages/reserve/_reserve-step-three.scss */
.text-holder .title {
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 1023px) {
  /* line 438, ../scss/pages/reserve/_reserve-step-three.scss */
  .text-holder .title {
    font-size: 25px;
  }
}
/* line 445, ../scss/pages/reserve/_reserve-step-three.scss */
.text-holder sup {
  font-size: 14px;
  margin: 0 6px;
  line-height: 56px;
  display: inline-block;
  vertical-align: top;
}
/* line 452, ../scss/pages/reserve/_reserve-step-three.scss */
.text-holder .price {
  font-weight: 600;
  font-size: 28px;
}

/* line 459, ../scss/pages/reserve/_reserve-step-three.scss */
.form-holder {
  background: #fff;
  padding: 42px 50px 74px;
  box-shadow: 0 16px 45px 6px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1023px) {
  /* line 459, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-holder {
    padding: 15px 30px 50px;
  }
}
@media (max-width: 767px) {
  /* line 459, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-holder {
    padding: 15px 20px 50px;
  }
}
@media (max-width: 479px) {
  /* line 459, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-holder {
    padding: 15px 10px 65px;
  }
}

/* line 474, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form {
  font-size: 18px;
}
/* line 476, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form input[type="email"],
.account-form input[type="password"] {
  width: 100%;
  padding: 5px 5px 5px 41px;
  position: relative;
}
@media (max-width: 1023px) {
  /* line 476, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form input[type="email"],
  .account-form input[type="password"] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 476, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form input[type="email"],
  .account-form input[type="password"] {
    padding: 5px 5px 5px 32px;
  }
}
/* line 488, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form button[type="submit"] {
  min-width: 140px;
  padding: 15px 10px;
}
@media (max-width: 1023px) {
  /* line 488, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form button[type="submit"] {
    min-width: 100px;
  }
}
/* line 497, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form > .row .col {
  float: left;
  padding: 5px 30px 0 0;
  width: 42.25%;
}
@media (max-width: 1199px) {
  /* line 497, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form > .row .col {
    padding: 5px 15px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 497, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form > .row .col {
    width: 50%;
  }
}
@media (max-width: 479px) {
  /* line 497, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form > .row .col {
    width: 100%;
    padding: 0;
  }
}
/* line 511, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form > .row .col:last-child {
  padding: 4px 0 0;
  width: 15.5%;
}
@media (max-width: 767px) {
  /* line 511, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form > .row .col:last-child {
    width: 100%;
  }
}
/* line 520, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .title {
  margin: 0 0 14px;
  display: block;
  color: #222;
}
/* line 524, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .title span {
  font-weight: 400;
}
/* line 527, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .title span + span {
  color: #b6c1c9;
}
/* line 531, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .form-group {
  position: relative;
}
/* line 534, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .icon-user,
.account-form .icon-lock {
  color: #3cb9be;
  position: absolute;
  font-size: 27px;
  top: 11px;
  left: 11px;
}
@media (max-width: 767px) {
  /* line 534, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form .icon-user,
  .account-form .icon-lock {
    left: 5px;
  }
}
@media (max-width: 479px) {
  /* line 534, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form .icon-user,
  .account-form .icon-lock {
    top: 6px;
  }
}
/* line 548, ../scss/pages/reserve/_reserve-step-three.scss */
.account-form .icon-lock {
  font-size: 25px;
  left: 10px;
  top: 12px;
}
@media (max-width: 479px) {
  /* line 548, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-form .icon-lock {
    top: 6px;
    left: 7px;
  }
}

/* line 559, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder {
  background: #fff;
}
@media (max-width: 1023px) {
  /* line 559, ../scss/pages/reserve/_reserve-step-three.scss */
  .content-holder {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  /* line 559, ../scss/pages/reserve/_reserve-step-three.scss */
  .content-holder {
    padding: 0;
  }
}
/* line 570, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .content-box:nth-child(2) .title-holder {
  padding: 10px 0 18px;
}
/* line 573, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .content-box:nth-child(2) .title-holder h1 {
  margin: 0 0 -3px;
}
/* line 576, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .content-box:nth-child(2) .title-holder p {
  line-height: 18px;
}
/* line 581, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .content-box .input__field {
  padding: 1em 0.5em 1em 1em;
}
/* line 586, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .number-list {
  position: absolute;
  left: -71px;
  top: 6px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #4bb9bd;
  text-align: center;
}
@media (max-width: 1199px) {
  /* line 586, ../scss/pages/reserve/_reserve-step-three.scss */
  .content-holder .number-list {
    left: -55px;
  }
}
@media (max-width: 1023px) {
  /* line 586, ../scss/pages/reserve/_reserve-step-three.scss */
  .content-holder .number-list {
    left: 0;
    top: -32px;
  }
}
/* line 602, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .number-list:before {
  content: ' ';
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 50%;
}
/* line 613, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .number-list span {
  font-size: 25px;
  font-weight: 600;
  border-radius: 50%;
  line-height: 38px;
  padding: 0;
  color: #fff;
  overflow: hidden;
  display: block;
  position: relative;
  height: 33px;
  margin: 4px;
  width: 34px;
}
/* line 626, ../scss/pages/reserve/_reserve-step-three.scss */
.content-holder .number-list span:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 17px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 641, ../scss/pages/reserve/_reserve-step-three.scss */
.seats {
  padding: 0 25px 22px;
  font-size: 16px;
  position: relative;
  color: #4bb9bd;
}
/* line 646, ../scss/pages/reserve/_reserve-step-three.scss */
.seats:before {
  content: ' \e900';
  position: absolute;
  font-family: 'icomoon';
  left: -3px;
  top: -9px;
  font-size: 24px;
}
/* line 655, ../scss/pages/reserve/_reserve-step-three.scss */
.seats strong {
  font-weight: 600;
  color: #363636;
}
/* line 659, ../scss/pages/reserve/_reserve-step-three.scss */
.seats span {
  font-weight: bold;
}

/* line 664, ../scss/pages/reserve/_reserve-step-three.scss */
.blue {
  background: #3f9ee0 !important;
}

/* line 668, ../scss/pages/reserve/_reserve-step-three.scss */
.details {
  position: relative;
}
/* line 670, ../scss/pages/reserve/_reserve-step-three.scss */
.details:before {
  content: ' ';
  position: absolute;
}

/* line 676, ../scss/pages/reserve/_reserve-step-three.scss */
.title-holder {
  padding: 10px 0 4px;
  position: relative;
  margin: 0 0 26px;
  color: #363636;
  border-bottom: 1px solid #e7ecec;
}
/* line 682, ../scss/pages/reserve/_reserve-step-three.scss */
.title-holder .hlpr-txt {
  margin-top: -2em;
}
/* line 686, ../scss/pages/reserve/_reserve-step-three.scss */
.title-holder h1 {
  overflow: hidden;
}
/* line 689, ../scss/pages/reserve/_reserve-step-three.scss */
.title-holder .btn {
  float: right;
  min-width: 78px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 800;
  padding: 4px 8px 2px;
  margin: 4px 0 0;
  box-shadow: 0 3px 4px rgba(47, 157, 228, 0.3);
  border-bottom: 2px solid #2e82b3;
  color: #fff;
  background: #2f9de4;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 479px) {
  /* line 689, ../scss/pages/reserve/_reserve-step-three.scss */
  .title-holder .btn {
    min-width: 70px;
    font-size: 12px;
    display: inherit;
  }
}
/* line 710, ../scss/pages/reserve/_reserve-step-three.scss */
.title-holder .btn:hover {
  background: #1a83c6;
}

/*.opacity{
	opacity: 0.75;
	font-weight: 600;
}*/
/* line 722, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder {
  margin: 0 0 58px;
}
/* line 725, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box {
  width: 48%;
  margin: 1%;
  float: left;
  padding: 0 0 0 2px;
}
@media (max-width: 1023px) {
  /* line 725, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box {
    padding: 10px 5px;
  }
}
@media (max-width: 767px) {
  /* line 725, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box {
    width: 100%;
  }
}
@media (max-width: 479px) {
  /* line 725, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box {
    padding: 8px 0;
  }
}
/* line 741, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box:last-child .mark {
  background: #3f9ee0;
}
/* line 744, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box:last-child dd {
  color: #3f9ee0;
}
/* line 748, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box .mark {
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  background: #4bb9bd;
  color: #fff;
  font-weight: 600;
  vertical-align: top;
  display: inline-block;
  vertical-align: top;
  padding: 2px 9px 0;
}
/* line 760, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dl {
  margin: 16px 0 0 21px;
  font-size: 16px;
  color: #363636;
  font-weight: 600;
  position: relative;
  font-family: "Proxima", "Helvetica Neue", "Helvetica", sans-serif;
}
@media (max-width: 1023px) {
  /* line 760, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dl {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  /* line 760, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dl {
    font-size: 13px;
    margin: 16px 0 0 10px;
  }
}
/* line 775, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dl:before {
  position: absolute;
  left: -25px;
  top: 5px;
}
/* line 783, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dl.returning-trip:before {
  content: "\f063";
}
/* line 786, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dl.departing-trip:before {
  content: "\f062";
}
/* line 789, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box .pickup {
  margin-top: 1em;
}
/* line 794, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dt:nth-child(3) {
  margin-top: 1em;
}
/* line 798, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dt.first-child {
  font-weight: 400;
  color: #222;
  font-size: 16px;
  padding: 0;
}
@media (max-width: 1023px) {
  /* line 798, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dt.first-child {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  /* line 798, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dt.first-child {
    font-size: 15px;
    font-weight: 600;
  }
}
/* line 812, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dd {
  overflow: hidden;
  color: #4bb9bd;
  font-size: 14px;
}
/* line 816, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box dd:nth-child(2) {
  font-weight: bold;
  color: #363636 !important;
  font-size: 16px;
}
@media (max-width: 1023px) {
  /* line 816, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dd:nth-child(2) {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  /* line 816, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-holder .box dd:nth-child(2) {
    font-size: 15px;
  }
}
/* line 829, ../scss/pages/reserve/_reserve-step-three.scss */
.box-holder .box .title {
  font-size: 18px;
  display: block;
  margin: 0 0 7px;
}

/* line 838, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info {
  padding: 9px 0 0;
}
/* line 840, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row {
  margin: 0 0  20px -45px;
}
@media (max-width: 767px) {
  /* line 840, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row {
    margin: 0 0 0 -10px;
  }
}
/* line 846, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row:nth-child(2) {
  margin: 0 0 20px -40px;
}
@media (max-width: 767px) {
  /* line 846, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row:nth-child(2) {
    margin: 0 0 0 -10px;
  }
}
/* line 851, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row:nth-child(2) .col {
  padding: 0 0 0 40px;
}
@media (max-width: 767px) {
  /* line 851, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row:nth-child(2) .col {
    padding: 0 0 0 10px;
  }
}
@media (max-width: 479px) {
  /* line 851, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row:nth-child(2) .col {
    width: 100%;
  }
}
@media (max-width: 479px) {
  /* line 859, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row:nth-child(2) .col label {
    margin: 0 -10px 0 0;
  }
}
/* line 866, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row:nth-child(3) {
  margin: 0;
}
/* line 868, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row:nth-child(3) .col {
  width: 100%;
  padding-left: 0;
}
/* line 873, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row > .col {
  float: left;
  width: 50%;
  padding: 0 0 0 45px;
}
@media (max-width: 767px) {
  /* line 873, ../scss/pages/reserve/_reserve-step-three.scss */
  .form-info > .row > .col {
    padding: 0 0 0 10px;
    width: 100%;
  }
}
/* line 881, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info > .row > .col input[type="text"],
.form-info > .row > .col input[type="tel"],
.form-info > .row > .col input[type="email"] {
  width: 100%;
}
/* line 888, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info .title-holder {
  padding: 10px 0 3px !important;
}
/* line 891, ../scss/pages/reserve/_reserve-step-three.scss */
.form-info .title-holder .number-list:after {
  background: #fff;
  width: 2px;
  z-index: 3;
  opacity: 1;
}

/* line 900, ../scss/pages/reserve/_reserve-step-three.scss */
.check {
  font-size: 14px;
}
@media (max-width: 479px) {
  /* line 900, ../scss/pages/reserve/_reserve-step-three.scss */
  .check {
    padding: 20px 0;
  }
}
/* line 905, ../scss/pages/reserve/_reserve-step-three.scss */
.check span {
  color: #3f9ee0;
  font-weight: 600;
  text-decoration: none;
}
/* line 913, ../scss/pages/reserve/_reserve-step-three.scss */
.check label {
  display: inline;
  font-size: 14px;
  line-height: 25px;
  text-transform: none;
}
@media (max-width: 479px) {
  /* line 913, ../scss/pages/reserve/_reserve-step-three.scss */
  .check label {
    font-size: 11px;
  }
}

/* line 924, ../scss/pages/reserve/_reserve-step-three.scss */
.sms {
  margin: 0 0 61px  71px;
  padding: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  color: #363636;
}
@media (max-width: 479px) {
  /* line 924, ../scss/pages/reserve/_reserve-step-three.scss */
  .sms {
    font-size: 13px;
    margin: 10px 0 55px;
    padding: 0 0 0 10px;
  }
}
/* line 936, ../scss/pages/reserve/_reserve-step-three.scss */
.sms:after, .sms:before {
  position: absolute;
  left: 0;
  top: 3px;
}
/* line 942, ../scss/pages/reserve/_reserve-step-three.scss */
.sms:after {
  content: ' ';
  background: #e9eeee;
  width: 1px;
  bottom: 11px;
}
/* line 948, ../scss/pages/reserve/_reserve-step-three.scss */
.sms:before {
  content: ' \e906';
  font-family: 'icomoon';
  font-size: 65px;
  font-weight: 400;
  left: -77px;
  top: -28px;
  color: #3f9ee0;
}
@media (max-width: 479px) {
  /* line 948, ../scss/pages/reserve/_reserve-step-three.scss */
  .sms:before {
    display: none;
  }
}
/* line 960, ../scss/pages/reserve/_reserve-step-three.scss */
.sms .title {
  font-weight: 600;
  font-size: 20px;
}
/* line 964, ../scss/pages/reserve/_reserve-step-three.scss */
.sms p {
  margin: 0 0 22px;
}

/* line 970, ../scss/pages/reserve/_reserve-step-three.scss */
.sms-number input[type="tel"] {
  width: 272px;
  font-size: 16px;
}
/* line 974, ../scss/pages/reserve/_reserve-step-three.scss */
.sms-number label {
  padding: 10px 0 0;
}
/* line 977, ../scss/pages/reserve/_reserve-step-three.scss */
.sms-number .input__field {
  float: none;
}

/* line 982, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form {
  font-size: 16px;
  padding: 2px 0 47px;
}
@media (max-width: 479px) {
  /* line 982, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form {
    padding: 0;
  }
}
/* line 988, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form > .row {
  margin: 0 0 18px;
}
/* line 991, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form > .row .col {
  float: left;
  width: 39.2%;
  padding: 0 40px 0 0;
}
@media (max-width: 767px) {
  /* line 991, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form > .row .col {
    padding: 0 15px 0 0;
    width: 50%;
  }
}
@media (max-width: 479px) {
  /* line 991, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form > .row .col {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 1003, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form > .row .col:nth-child(2) {
    padding: 0;
  }
}
/* line 1008, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form > .row .col:last-child {
  width: 21.6%;
}
@media (max-width: 479px) {
  /* line 1008, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form > .row .col:last-child {
    width: 100%;
  }
}
/* line 1016, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form .title {
  line-height: 33px;
}
@media (max-width: 479px) {
  /* line 1016, ../scss/pages/reserve/_reserve-step-three.scss */
  .discount-form .title {
    display: block;
  }
}
/* line 1022, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form input[type="text"],
.discount-form input[type="email"] {
  width: 100%;
}
/* line 1026, ../scss/pages/reserve/_reserve-step-three.scss */
.discount-form button[type="button"] {
  min-width: 104px;
}

/* line 1031, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-holder {
  display: inline-block;
  vertical-align: top;
  padding: 3px 21px;
  margin: 0 -4px  0 0;
}
@media (max-width: 479px) {
  /* line 1031, ../scss/pages/reserve/_reserve-step-three.scss */
  .radio-holder {
    padding: 0;
  }
}
/* line 1039, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-holder input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}
/* line 1043, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-holder label {
  text-transform: none;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding: 0 33px 0 0;
}
/* line 1050, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-holder .jcf-label-active {
  font-weight: 600;
}

/* line 1056, ../scss/pages/reserve/_reserve-step-three.scss */
.img-list span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px 0 0;
}
/* line 1060, ../scss/pages/reserve/_reserve-step-three.scss */
.img-list span:last-child {
  margin: 0;
}

/* line 1067, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .radio-frame {
  display: inline-block;
  vertical-align: top;
  margin: 5px 20px 0;
}
@media (max-width: 479px) {
  /* line 1067, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .radio-frame {
    margin: 5px 0 0;
  }
}
/* line 1074, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .radio-frame .jcf-radio {
  margin: 0 11px 8px  0;
}
/* line 1077, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .radio-frame .img-holder {
  border: 1px solid #e5e5e5;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 5px 0;
}
/* line 1083, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .radio-frame img {
  position: relative;
  z-index: -1;
}
/* line 1088, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .title {
  line-height: 37px;
  font-size: 16px;
}
@media (max-width: 479px) {
  /* line 1088, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .title {
    display: block;
  }
}
/* line 1095, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form > .row {
  margin: 0 0  21px;
}
/* line 1098, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form > .row:first-child {
  margin: 0 0  20px;
}
/* line 1100, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form > .row:first-child label {
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0 26px 0 0;
  color: #3db9be;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 479px) {
  /* line 1100, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form > .row:first-child label {
    margin: 0 20px 0 0;
  }
}
/* line 1114, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form > .row:first-child label i {
  font-size: 32px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
/* line 1124, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form > .row:nth-child(2) {
  padding: 0 0 66px;
  margin: 0 0 70px;
  border-bottom: 1px solid #e9eeee;
}
@media (max-width: 479px) {
  /* line 1124, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form > .row:nth-child(2) {
    padding: 0 0 35px;
    margin: 0 0 35px;
  }
}
/* line 1134, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .col {
  float: left;
  width: 33.332%;
  padding: 0 39px 0 0;
}
@media (max-width: 1023px) {
  /* line 1134, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .col {
    width: 50%;
    padding: 0 28px 22px 0;
  }
}
@media (max-width: 479px) {
  /* line 1134, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .col {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 1023px) {
  /* line 1146, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .col:nth-child(2) {
    padding: 0;
  }
}
/* line 1151, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .col:last-child {
  padding: 0;
}
@media (max-width: 1023px) {
  /* line 1151, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .col:last-child {
    width: 100%;
    padding: 0;
  }
}
/* line 1158, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .col input[type="text"] {
  width: 100%;
}
/* line 1162, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .input-block {
  float: left;
  width: 36.334%;
  padding: 0 0 0 28px;
}
@media (max-width: 479px) {
  /* line 1162, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .input-block {
    padding: 0 0 0 15px;
  }
}
/* line 1169, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .input-block:first-child {
  padding: 0;
  width: 27.332%;
}
/* line 1172, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .input-block:first-child input[type="text"] {
  width: 100%;
}
/* line 1176, ../scss/pages/reserve/_reserve-step-three.scss */
.payment-form .input-block label {
  margin: 0 -10px 0 0;
}
@media (max-width: 479px) {
  /* line 1176, ../scss/pages/reserve/_reserve-step-three.scss */
  .payment-form .input-block label {
    margin: 0;
  }
}

/* line 1185, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-block {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1023px) {
  /* line 1185, ../scss/pages/reserve/_reserve-step-three.scss */
  .radio-block {
    display: block;
    margin: 0 0 10px;
  }
}
/* line 1193, ../scss/pages/reserve/_reserve-step-three.scss */
.radio-block:last-child .jcf-radio {
  margin: 1px 11px 4px  0;
}

/* line 1199, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant {
  text-align: right;
  color: #000;
}
/* line 1202, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant dl {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 339px;
  margin: 0 0 10px;
  padding: 0 0 17px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #e9eeee;
}
@media (max-width: 479px) {
  /* line 1202, ../scss/pages/reserve/_reserve-step-three.scss */
  .cost-variant dl {
    font-size: 14px;
    width: 100%;
  }
}
/* line 1217, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant dt {
  padding: 0 31px 5px 0;
  float: left;
  width: 279px;
  clear: both;
}
@media (max-width: 479px) {
  /* line 1217, ../scss/pages/reserve/_reserve-step-three.scss */
  .cost-variant dt {
    padding: 0 20px 5px 0;
    width: 80%;
  }
}
/* line 1227, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant dd {
  width: 60px;
  float: right;
  margin: 0;
}
@media (max-width: 479px) {
  /* line 1227, ../scss/pages/reserve/_reserve-step-three.scss */
  .cost-variant dd {
    width: 20%;
  }
}
/* line 1235, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant .red {
  color: #ef5840;
}
/* line 1238, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant .cost {
  display: block;
  margin: 0 0 13px;
}
/* line 1241, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant .cost sup {
  font-size: 21px;
  margin: 0 4px 0;
  line-height: 65px;
  display: inline-block;
  vertical-align: top;
}
/* line 1248, ../scss/pages/reserve/_reserve-step-three.scss */
.cost-variant .cost .price {
  font-weight: 600;
  font-size: 36px;
}

/* line 1255, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form {
  padding: 0 0 79px;
  border-bottom: 1px solid #e9eeee;
}
@media (max-width: 479px) {
  /* line 1255, ../scss/pages/reserve/_reserve-step-three.scss */
  .accept-form {
    padding: 0 0 40px;
  }
}
/* line 1261, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form .row {
  margin: 0 0 21px;
}
/* line 1264, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form .row label {
  text-transform: none;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px 0 0;
  padding: 0 14px 0 0;
}
@media (max-width: 767px) {
  /* line 1264, ../scss/pages/reserve/_reserve-step-three.scss */
  .accept-form .row label {
    font-size: 13px;
  }
}
@media (max-width: 479px) {
  /* line 1264, ../scss/pages/reserve/_reserve-step-three.scss */
  .accept-form .row label {
    padding: 0 5px 0 0;
    font-size: 11px;
    width: 284px;
  }
}
/* line 1281, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form .jcf-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px;
}
/* line 1286, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form label > a {
  color: #2f9de4;
  text-decoration: none;
  font-weight: 600;
  line-height: 18px;
}
/* line 1291, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form label > a:hover {
  color: #1a83c6;
}
/* line 1295, ../scss/pages/reserve/_reserve-step-three.scss */
.accept-form input[type="submit"] {
  min-width: 169px;
  line-height: 16px;
  padding: 14px 5px 10px;
}

/* line 1302, ../scss/pages/reserve/_reserve-step-three.scss */
.box-frame {
  padding: 50px 0 45px;
  color: #a7b5c1;
}
@media (max-width: 767px) {
  /* line 1302, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-frame {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
  }
}
@media (max-width: 479px) {
  /* line 1302, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-frame {
    padding: 10px 0;
  }
}
/* line 1313, ../scss/pages/reserve/_reserve-step-three.scss */
.box-frame .img-frame {
  padding: 4px 52px 10px 4px;
  float: left;
}
@media (max-width: 767px) {
  /* line 1313, ../scss/pages/reserve/_reserve-step-three.scss */
  .box-frame .img-frame {
    float: none;
    padding: 10px;
  }
}
/* line 1322, ../scss/pages/reserve/_reserve-step-three.scss */
.box-frame .text-frame {
  overflow: hidden;
}

/* line 1327, ../scss/pages/reserve/_reserve-step-three.scss */
#footer {
  background: #282d31;
  padding: 50px 0 0;
  border-top: 4px solid #ed5224;
}
@media (max-width: 479px) {
  /* line 1327, ../scss/pages/reserve/_reserve-step-three.scss */
  #footer {
    padding: 22px 0 0;
  }
}

/* line 1336, ../scss/pages/reserve/_reserve-step-three.scss */
.footer-nav {
  border-bottom: 1px solid #393f43;
  padding: 0 0 39px;
}
@media (max-width: 767px) {
  /* line 1336, ../scss/pages/reserve/_reserve-step-three.scss */
  .footer-nav {
    padding: 0;
  }
}

/* line 1345, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box {
  float: left;
  width: 25%;
  padding: 0 20px 0 0;
}
@media (max-width: 767px) {
  /* line 1345, ../scss/pages/reserve/_reserve-step-three.scss */
  .nav-box {
    width: 50%;
  }
}
@media (max-width: 479px) {
  /* line 1345, ../scss/pages/reserve/_reserve-step-three.scss */
  .nav-box {
    padding: 0 10px 0 0;
  }
}
/* line 1355, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box dl {
  margin: 7px  0 8px;
}
@media (max-width: 479px) {
  /* line 1355, ../scss/pages/reserve/_reserve-step-three.scss */
  .nav-box dl {
    font-size: 11px;
  }
}
/* line 1362, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box dt {
  float: left;
  color: #999999;
}
/* line 1366, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box dd {
  overflow: hidden;
  font-weight: bold;
  padding: 0 0 6px;
}
@media (max-width: 479px) {
  /* line 1366, ../scss/pages/reserve/_reserve-step-three.scss */
  .nav-box dd {
    margin: 0 0 0 37px;
  }
}
/* line 1373, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box dd a {
  color: #ffb300;
  text-decoration: none;
}
/* line 1376, ../scss/pages/reserve/_reserve-step-three.scss */
.nav-box dd a:hover {
  color: #cc8f00;
}

/* line 1383, ../scss/pages/reserve/_reserve-step-three.scss */
.link-list {
  padding: 7px 0;
}
/* line 1386, ../scss/pages/reserve/_reserve-step-three.scss */
.link-list li {
  margin: 0 0 6px;
  color: #999999;
}
/* line 1390, ../scss/pages/reserve/_reserve-step-three.scss */
.link-list a {
  text-decoration: none;
  color: #999999;
}
@media (max-width: 479px) {
  /* line 1390, ../scss/pages/reserve/_reserve-step-three.scss */
  .link-list a {
    font-size: 12px;
  }
}
/* line 1396, ../scss/pages/reserve/_reserve-step-three.scss */
.link-list a:hover {
  color: #fff;
}

/* line 1402, ../scss/pages/reserve/_reserve-step-three.scss */
.social-networks {
  padding: 24px 0;
}
@media (max-width: 479px) {
  /* line 1402, ../scss/pages/reserve/_reserve-step-three.scss */
  .social-networks {
    padding: 10px 0;
  }
}
/* line 1409, ../scss/pages/reserve/_reserve-step-three.scss */
.social-networks li {
  float: left;
  margin: 0 11px 0 0;
}
@media (max-width: 479px) {
  /* line 1409, ../scss/pages/reserve/_reserve-step-three.scss */
  .social-networks li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
  }
}
/* line 1419, ../scss/pages/reserve/_reserve-step-three.scss */
.social-networks a {
  color: #999999;
  text-decoration: none;
  font-size: 25px;
}
/* line 1423, ../scss/pages/reserve/_reserve-step-three.scss */
.social-networks a:hover {
  color: #fff;
}
/* line 1427, ../scss/pages/reserve/_reserve-step-three.scss */
.social-networks .icon-instagram {
  line-height: 30px;
}

/* line 1432, ../scss/pages/reserve/_reserve-step-three.scss */
.bottom-box {
  padding: 34px 0;
  color: #999999;
}
@media (max-width: 479px) {
  /* line 1432, ../scss/pages/reserve/_reserve-step-three.scss */
  .bottom-box {
    text-align: center;
    display: table;
    width: 100%;
  }
}

/* line 1442, ../scss/pages/reserve/_reserve-step-three.scss */
.copyright {
  overflow: hidden;
  font-size: 13px;
}
@media (max-width: 479px) {
  /* line 1442, ../scss/pages/reserve/_reserve-step-three.scss */
  .copyright {
    display: table-header-group;
  }
}
/* line 1448, ../scss/pages/reserve/_reserve-step-three.scss */
.copyright .logo {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
  width: 80px;
  height: 21px;
}
/* line 1455, ../scss/pages/reserve/_reserve-step-three.scss */
.copyright span > a {
  color: #999999;
  text-decoration: none;
}
/* line 1458, ../scss/pages/reserve/_reserve-step-three.scss */
.copyright span > a:hover {
  color: #fff;
}

/* line 1464, ../scss/pages/reserve/_reserve-step-three.scss */
.rights {
  float: right;
}
@media (max-width: 479px) {
  /* line 1464, ../scss/pages/reserve/_reserve-step-three.scss */
  .rights {
    float: none;
    display: table-footer-group;
  }
}

/* Reserve Step 3 */
/* line 1473, ../scss/pages/reserve/_reserve-step-three.scss */
#ticket-login-form {
  background: #fff;
}
/* line 1474, ../scss/pages/reserve/_reserve-step-three.scss */
#ticket-login-form .btn {
  width: 100%;
}
/* line 1478, ../scss/pages/reserve/_reserve-step-three.scss */
#ticket-login-form .title {
  margin: 0 0 14px;
  display: block;
  color: #222;
}
/* line 1482, ../scss/pages/reserve/_reserve-step-three.scss */
#ticket-login-form .title span {
  font-weight: 400;
}
/* line 1485, ../scss/pages/reserve/_reserve-step-three.scss */
#ticket-login-form .title span + span {
  color: #b6c1c9;
}

/* line 1492, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options .jcf-checkbox {
  float: left;
}
/* line 1495, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options .checkbox-contain label {
  float: left;
  padding: 0;
}
/* line 1499, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options [class*="pure-u"] {
  border-right: solid 1px #b6c1c9;
  padding: 1em 2em;
}
/* line 1503, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options [class*="pure-u"]:last-child {
  border: 0 !important;
  padding-right: 0;
}
/* line 1507, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options [class*="pure-u"]:first-child {
  padding-left: 0;
}
@media (max-width: 1023px) {
  /* line 1499, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-options [class*="pure-u"] {
    border-bottom: solid 1px #b6c1c9;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 1517, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options h2 {
  font-size: 64px;
  text-align: left;
}
@media (max-width: 1023px) {
  /* line 1517, ../scss/pages/reserve/_reserve-step-three.scss */
  .account-options h2 {
    font-size: 34px;
  }
}
/* line 1524, ../scss/pages/reserve/_reserve-step-three.scss */
.account-options h2 span {
  font-weight: 100;
  font-size: 50%;
  text-transform: uppercase;
  color: #3fb9be;
}
