$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

//@import '../../vendor/include-media';
//@import '../vendor/normalize';
//@import '../vendor/fonts';
//@import '../vendor/icomoon';
//@import '../../vendor/custom-form';

//@import '../../base/variables';
//@import '../../base/functions';
//@import '../../base/mixins';
//@import '../../base/helpers';
//@import '../base/reset';
//@import '../../base/typography';
@import '../../base/forms';

#wrapper {
	overflow: hidden;
	position: relative;
}

.visual{
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position:  100% 50%;
	min-height:455px;
	&:before{
		content:' ';
		background: rgba(0,0,0,.2);
		background: linear-gradient(to bottom, rgba(0,0,0,0.51) 0%,rgba(0,0,0,0) 100%);
		position: absolute;
		top: -2px;
		left: 0;
		height: 220px;
		right: 0;
	}
	img{
		width: 100%;
	}
}

.container{
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
	@extend %clearfix;
	@include media ('<tablet') {
		padding: 0 10px;
	}
}

#header {
	padding: 28px 0 12px ;
	margin: 0 0 56px;
	position: relative;
	@include media ('<desktop') {
		padding: 12px 0;
		margin: 0 0 18px;
	}
	&:before{
		content:' ';
		position: absolute;
		bottom:0;
		left: 50%;
		transform: translateX(-50%);
		width: 1000px;
		height: 1px;
		background: rgba($border-gray,0.25);
	}
}

.logo-holder{
	float: left;
	padding: 0 28px 0 0;
	@include media ('<desktop') {
		padding: 0;
	}
}



.region{
	@extend %clearfix;
	@extend %listreset;
	font-size: 10px;
	li{
		float: left;
		padding: 0 10px 0 0;
		position: relative;
		color: $white;
		text-decoration: none;
		&:first-child:before{display: none;}
		&:before{
			content:' ';
			position: absolute;
			left:-5px;
			margin: -1px 0 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 7px;
			background: $white;
		}
	}
}

.login{
	@extend %listreset;
	float: right;
	padding: 5px 0 0;
	@include media ('<desktop') {
		display: none;
	}
	li{
		float: left;
		margin-left: 32px;
		@include media ('<desktop') {
			margin: 10px;
		}
	}
	a{	
		padding-left: 25px;
		font-size: 13px;
		font-family: $base-font-sans-serif;
		color: $white;
		text-decoration: none;
		position: relative;
		@include media ('<desktop') {
			padding-left: 15px;
		}
		@include media ('<tablet') {
			font-size: 11px;
		}
		&:hover{
			color: darken($white,15%);
		}
	}
	.icon-ticket:before,
	.icon-user-arrow:before{
		content: '\e907';
		position: absolute;
		font-size: 18px;
		left: -5px;
		margin: -1px 0 0;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'icomoon';
	}
	.icon-user-arrow:before{
		content: '\e90a';
		font-size: 22px;
		left: -5px;
	}
	
}

.menu{
	@extend %clearfix;
}

#nav{
	@extend %listreset;
	@extend %clearfix;
	padding: 5px 0 0;
	> li{
		float: left;
		margin: 0  23px 0 0;
		position: relative;
		@include media ('<desktop') {
			float: none;
			margin: 0;
		}
		a{
			color: $white;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			@include media ('<desktop') {
				color: $btn-blue;
				display: block;
				font-size: 14px;
				padding: 5px;
				transition: all 0.25s;
				&:hover{
					background: darken($white,10%);
				}
			}
		}
		&.hover,
		&.active{
			> a{
				color: darken($white,15%);
				@include media ('<desktop') {
					color: $btn-blue;
				}
			}
			.drop{
				display: block;
			}
		}
	}
	.drop{
		@extend %listreset;
		display: none;
		position: absolute;
		top:100%;
		min-width: 150px;
		left: 0;
		border: 1px solid darken($white,15%);
		background: rgba($white,0.2);
		@include media ('<desktop') {
			width: 100%;
			position: static;
			border: none;
		}
		li{
			&.active{
				> a{
					color: darken($white,15%);
					@include media ('<desktop') {
						color: $btn-blue;
					}
				}
			}
		}
		a{
			text-transform: none;
			display: block;
			padding: 5px;
			transition: all 0.25s;
			&:hover{
				background: darken($white,30%);
				@include media ('<desktop') {
					background: darken($white,10%);
				}
			}
		}
	}
	.has-drop-down {
		position: relative;
		> a{
			padding: 0 20px  0 0;
			@include media ('<desktop') {
				padding: 5px;
			}
			&:before{
				content:' ';
				position: absolute;
				right: 3px;
				top: 8px;
				border-color: $white transparent transparent transparent ;
				border-style: solid;
				border-width: 4px 3px 0 4px ;
				@include media ('<desktop') {
					top: 13px;
					right: 10px;
					border-color: $btn-blue transparent transparent transparent ;
				}
			}
		}
	}
}

.visible{
	display: none;
	@include media ('<desktop') {
		display: block;
	}
	a{
		font-family:$base-font-sans-serif;
		padding: 10px;
		&:before{
			font-family: 'icomoon';
			margin-right: 5px;
		}
	}
}

#nav{
	@include media ('<desktop') {
		float:none;
		display:none;
		padding:10px 0;
		text-align:center;
		position:absolute;
		background:$white;
		top:100%;
		left:0;
		z-index:50;
		right:0;
		border-bottom: 2px solid $btn-blue;
	}
}

.opener{
	float:right;
	width:31px;
	height:31px;
	background:$light-blue;
	position:relative;
	border-radius:3px;
	text-indent:-9999px;
	overflow:hidden;
	margin:10px 5px 10px;
	@include media ('>=desktop') {display: none;}
	&:before,
	&:after,
	& span{
		background:$white;
		border-radius:4px;
		position:absolute;
		top:16px;
		left:20%;
		right:20%;
		height:3px;
		margin-top:-2px;
		transition:all 0.2s linear;
	}
	&:before,
	&:after{
		content:'';
		top:10px;
	}
	&:after{top:22px;}
	&:hover{opacity:.9;}
}

.active {
	#nav{
		display:block;
	}
	.opener {
		span{
			opacity:0;
		}
		&:after,
		&:before{
			transform:rotate(45deg);
			top:16px;
			left:15%;
			right:15%;
		}
		&:after{
			transform:rotate(-45deg);
		}
	}
}


#main{
	overflow: hidden;
}

.total{
	@extend %clearfix;
	background: rgba($light-blue,.96);
	border-radius: 4px 4px 0 0;
	padding: 43px 48px 30px 48px;
	color: $white;
	font-size: 29px;
	overflow: hidden;
	font-weight: 400;
	position: relative;
	z-index: 2;
	@include media ('<tablet') {
		text-align: center;
		padding: 30px 45px 10px;
	}
	@include media ('<phone') {
		padding: 15px 10px 0;
	}
}

.text-holder{
	padding: 2px 10px 0 0;
	overflow: hidden;
	@include media ('<tablet') {
		width: 100%;
		padding: 5px;
	}
	.title{
		font-size: 30px;
		font-weight: 400;
		@include media ('<desktop') {
			font-size: 25px;
		}
	}
	sup{
		font-size: 14px;
		margin: 0 6px;
		line-height: 56px;
		display: inline-block;
		vertical-align: top;
	}
	.price{
		font-weight: 600;
		font-size: 28px;
	}
}


.form-holder{
	background: $white;
	padding: 42px 50px 74px;
	box-shadow: 0 16px 45px 6px rgba(0, 0, 0, 0.08);
	@include media ('<desktop') {
		padding: 15px 30px 50px;
	}
	@include media ('<tablet') {
		padding: 15px 20px 50px;
	}
	@include media ('<phone') {
		padding: 15px 10px 65px;
	}
}

.account-form{
	font-size: 18px;
	input[type="email"],
	input[type="password"]{
		width: 100%;
		padding: 5px 5px 5px 41px;
		position: relative;
		@include media ('<desktop') {
			width: 100%;
		}
		@include media ('<tablet') {
			padding: 5px 5px 5px 32px;
		}
	}
	button[type="submit"]{
		min-width: 140px;
		padding: 15px 10px;
		@include media ('<desktop') {
			min-width: 100px;
		}
	}
	> .row{
		@extend %clearfix;
		.col{
			float: left;
			padding: 5px 30px 0 0;
			width: 42.25%;
			@include media ('<widescreen') {
				padding: 5px 15px 0 0;
			}
			@include media ('<tablet') {
				width: 50%;
			}
			@include media ('<phone') {
				width: 100%;
				padding: 0;
			}
			&:last-child {
				padding: 4px 0 0;
				width: 15.5%;
				@include media ('<tablet') {
					width: 100%;
				}
			}
		}
	}
	.title{
		margin: 0 0 14px;
		display: block;
		color: $dark;
		span{
			font-weight: 400;
		}
		span + span{
			color: $middle-gray;
		}
	} 
	.form-group{
		position: relative;
	}
	.icon-user,
	.icon-lock{
		color: $icon-blue;
		position: absolute;
		font-size: 27px;
		top: 11px;
		left: 11px;
		@include media ('<tablet') {
			left: 5px;
		}
		@include media ('<phone') {
			top: 6px;
		}
	}
	.icon-lock{
		font-size: 25px;
		left: 10px;
		top: 12px;
		@include media ('<phone') {
			top: 6px;
			left: 7px;
		}
	}
}

.content-holder{
	background: $white;
	@extend %listreset;
	// padding: 0 50px 0;
	@include media ('<desktop') {
		padding: 0 20px;
	}
	@include media ('<tablet') {
		padding: 0 1em;
	}
	.content-box{
		&:nth-child(2){
			.title-holder{
				padding: 10px 0 18px;
				h1{
					margin: 0 0 -3px;
				}
				p{
					line-height: 18px;
				}
			}
		}
		.input__field {
			padding: 1em 0.5em 1em 1em;
		}

	}
	.number-list{
		position: absolute;
		left: -71px;
		top: 6px;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: $lighten-blue;
		text-align: center;
		@include media ('<widescreen') {
			left: -55px;
		}
		@include media ('<desktop') {
			left: 0;
			top: -32px;
		}
		&:before{
			content:' ';
			position: absolute;
			width: 38px;
			height: 38px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			border: 2px solid $white;
			border-radius: 50%;
		}
		span{
			font-size: 25px;
			font-weight: 600;
			border-radius: 50%;
			line-height: 38px;
			padding:0;
			color: $white;
			overflow: hidden;
			display: block;
			position: relative;
			height: 33px;
			margin: 4px;
			width: 34px;
			&:before{
				content:' ';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 17px;
				background: rgba($black,0.1);
			}
		}
	}
	.seats{
		margin: 0 0 10px ;
		font-size: 16px;
		position: relative;
		color: $lighten-blue;
		// &:before{
		// 	content:' \e900';
		// 	position: absolute;
		// 	font-family: 'icomoon';
		// 	left: -3px;
		// 	top: -9px;
		// 	font-size: 24px;

		// }
		span{
			color: $second-dark;
		}
	}
}

.section-reserve-3.user-logged-in {
	
	@include media('<tablet') {
		margin-top: -150px;
	}
}

.blue{
	background: $namber-blue !important;
}

.details{
	position: relative;
	&:before{
		content:' ';
		position: absolute;
	}
}

.title-holder{
	padding: 10px 0 4px;
	position: relative;
	margin: 0 0 26px;
	color: $second-dark;
	@extend %clearfix;
	//border-bottom: 1px solid rgba($border-darken,0.75);
	h1{
		overflow: hidden;
	}
	a.edit {
		float: right;
		color: $blue;
	}
	.sub-head {
		font-style: italic;
		font-size: 14px;
		color: $light-grey;
	}
}



.box-holder{
	@extend %clearfix;
	line-height: 20px;
	// margin: 0 0 58px;
	.box{
		width: 50%;
		float: left;
		// padding: 0 0 0 2px;
		@include media ('<desktop') {
			padding: 10px 5px;
		}
		@include media ('<tablet') {
			width: 100%;
		}
		@include media ('<phone') {
			padding: 8px 0;
		}
		&:last-child {
			padding: 0 0 0 102px ;
			@include media ('<desktop') {
				padding: 10px 5px;
			}
			@include media ('<phone') {
				padding: 8px 0;
			}
			.mark{
				// background: $namber-blue;
			}
			dd{
				color: $namber-blue;
			}
		}
		.mark{
			font-size: 14px;
			line-height: 20px;
			padding: 0 0 10px 0;
			vertical-align: top;
			display: inline-block;
			vertical-align: top;
			font-style: italic;
		}
		dl{
			@extend %clearfix;
			font-size: 16px;
			position: relative;
			font-family: $base-font-sans-serif;
			@include media ('<desktop') {
				font-size: 14px;
			}
			@include media ('<phone') {
				font-size: 13px;
				margin: 16px 0 0 0;
			}
		}
		dt{
			float: left;
			padding: 2px 0;
			columns: $second-dark;
			font-size: 14px;
			font-style: italic;
			&:first-child {
				// font-weight: 400;
				// color: $dark;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				padding: 0;
				@include media ('<desktop') {
					font-size: 14px;
				}
				@include media ('<phone') {
					font-size: 15px;
					font-weight: 600;
				}
			}
		}
		dd{
			overflow: hidden;
			padding: 2px 0 2px 4px;
			color: $namber-blue;
			font-size: 14px;
			font-style: italic;
			&:first-child {
				font-style: normal;
			}
			&:nth-child(2){
				font-weight: bold;
				font-style: normal;
				color: $second-dark !important;
				font-size: 16px; 
				padding: 0 0 10px 4px;
				@include media ('<desktop') {
					font-size: 14px;
				}
				@include media ('<phone') {
					font-size: 15px;
					
				}
			}
		}
		.title{
			@extend %clearfix;
			font-size: 18px;
			display: block;
			margin: 0 0 7px;
		}
	}
}

.form-info{
	// padding: 9px 0 0;
	&.register  {
		> .row:nth-child(2){
			margin: 0 0 0 0;
			@include media ('<tablet') {
				margin: 0 0 0 0;
			}
			.col{
				width: 50%;
				padding:  0 12px 0 0;
				// @include media ('<tablet') {
				// 	padding: 0 12px 0 0;
				// }
				@include media ('<tablet') {
					width: 100%;
					padding: 0;
				}
				label{
					@include media ('<phone') {
						margin: 0 0 0 0;
					}
				}
			}
		}
	}
	> .row{
		@extend %clearfix;
		margin: 0 0  19px 0;
		@include media ('<tablet') {
			margin: 0 0 0 0;
		}
		&:nth-child(2){
			margin: 0 0 0 0;
			@include media ('<tablet') {
				margin: 0 0 0 0;
			}
			.col{
				width: 33.332%;
				padding:  0 12px 0 0;
				// @include media ('<tablet') {
				// 	padding: 0 12px 0 0;
				// }
				@include media ('<tablet') {
					width: 100%;
					padding: 0;
				}
				label{
					@include media ('<phone') {
						margin: 0 0 0 0;
					}
				}
			}
		}
		> .col{
			float: left;
			width: 50%;
			padding: 0 12px 0 0;
			@include media ('<tablet') {
				padding: 0;
				width: 100%;
			}
			input[type="text"],
			input[type="tel"],
			input[type="email"]{
				width: 100%;
			}
		}
	}
	.title-holder{
		padding: 10px 0 3px !important ;
		.number-list:after{
			background: $white;
			width: 2px;
			z-index: 3;
			opacity: 1;
		}
	}
}

.check{
	font-size: 14px;
	padding: 25px 0 25px;
	@include media ('<phone') {
		padding: 20px 0;
	}
	label {
		color: $dark;
		span{
			font-weight: 600;
			text-decoration: none;
		}
	}
	.jcf-checkbox {

	}
	label{
		display: inline;
		font-size: 14px;
		line-height: 25px;
		text-transform: none;
		@include media ('<phone') {
			font-size: 11px;
		}
	}
}

.sms {
	font-weight: 600;
	font-size: 14px;
	position: relative;
	color: $second-dark;
	@include media ('<phone') {
		font-size: 13px;
		margin: 10px 0 55px ;
		padding: 0 0 0 0;
	}
	.title{
		font-weight: 600;
		font-size: 20px;
	}
	p{
		margin: 0 0 22px;
		color: $light-grey;
		font-style: italic;
	}
	.row{
		@extend %clearfix;
		margin: 0 0 18px;
		.col{
			float: left;
			width: 39.2%;
			padding: 0 12px 0 0;
			@include media ('<tablet') {
				padding: 0 12px 0 0;
				width: 50%;
			}
			@include media ('<phone') {
				width: 100%;
				padding: 0;
			}
		}
	}
	input[type="tel"]{
		// width: 272px;
		font-size: 16px;
	}
}

.discount-form {
	font-size: 16px;
	> .row{
		@extend %clearfix;
		margin: 0 0 18px;
		.col{
			float: left;
			width: 39.2%;
			padding: 0 12px 0 0;
			@include media ('<tablet') {
				padding: 0 12px 0 0;
				width: 50%;
			}
			@include media ('<phone') {
				width: 100%;
				padding: 0;
			}
			&:nth-child(2){
				@include media ('<tablet') {
					padding: 0;
				}
			}
			&:last-child {
				width: 21.6%;
				@include media ('<phone') {
					width: 100%;
				}
			}
		}
		+ .row {
			margin: 0;
		}
	}
	.title{
		line-height: 33px;
		@include media ('<phone') {
			display: block;
		}
	}
	input[type="text"],
	input[type="email"]{
		width: 100%;
	}
	button[type="button" ]{
		// min-width: 104px;
	}
}

.radio-holder{
	display: inline-block;
	vertical-align: top;
	padding: 3px 21px;
	margin: 0 -4px  0 0;
	@include media ('<phone') {
		padding: 0;
	}
	input[type="radio"]{
		display: inline-block;
		vertical-align: middle;
	}
	label{
		text-transform: none;
		display: inline-block;
		font-size: 16px;
		vertical-align: middle;
		padding: 0 33px 0 0;
	}
	.jcf-label-active{
		font-weight: 600;
	}
}

.img-list{
	span{
		display: inline-block;
		vertical-align: middle;
		margin: 0 11px 0 0;
		&:last-child {
			margin: 0;
		}
	}
}

.payment-form{
	.radio-frame{
		display: inline-block;
		vertical-align: top;
		margin: 5px 20px 0 ;
		@include media ('<phone') {
			margin: 5px 0 0;
		}
		.jcf-radio{
			margin:0 11px 8px  0;
		}
		.img-holder{
			border:1px solid $border-img ;
			display: inline-block;
			vertical-align: top;
			margin: 0 10px 5px 0;
		}
		img{
			position: relative;
			z-index: -1;
		}
	}
	.title{
		line-height: 37px;
		font-size: 16px;
		@include media ('<phone') {	
			display: block;
		}
	}
	> .row{
		@extend %clearfix;
		margin: 0 0  21px;
		&:first-child {
			margin: 0 0  20px;
			label{
				display: inline-block;
				vertical-align: middle;
				text-transform: none;
				position: relative;
				z-index: 2;
				padding: 0;
				margin:  0 26px 0 0 ;
				font-weight: 600;
				font-size: 16px;
				@include media ('<phone') {
					margin: 0 20px 0 0;
				}
				i{
					font-size: 32px;
					font-weight: 400;
					line-height: 27px;
					margin: 0 8px 0 0;
					vertical-align: middle;
				}
			}

		}
		&:nth-child(2){
			// padding: 0 0 66px;
			// margin: 0 0 70px;
			// border-bottom: 1px solid $border-form;
			// @include media ('<phone') {
			// 	padding: 0 0 35px;
			// 	margin: 0 0 35px;
			// }
		}
	}
	.col{
		float: left;
		width: 33.332%;
		padding: 0 12px 0 0;
		@extend %clearfix;
		@include media ('<desktop') {
			width: 50%;
			padding: 0 12px 22px 0;
		}
		@include media ('<tablet') {
			padding: 0 0 0 0;
			width: 100%;
		}
		&:nth-child(2){
			@include media ('<desktop') {
				padding: 0;
			}
		}
		&:last-child {
			padding: 0;
			@include media ('<desktop') {
				width: 100%;
				padding: 0;
			}
		}
		input[type="text"]{
			width: 100%;
		}
	}
	.input-block{
		float: left;
		width: 36.334%;
		padding: 0 0 0 12px;
		@include media ('<phone') {
			padding: 0 0 0 12px;
		}
		&:first-child {
			padding: 0;
			width: 27.332%;
			input[type="text"]{
				width: 100%;
			}
		}
		label{
			margin: 0 -10px 0 0;
			@include media ('<phone') {
				margin: 0;
			}
		}
	}
}

.radio-block{
	display: inline-block;
	vertical-align: top;
	@include media ('<desktop') {
		display: block;
		margin: 0 0 10px;
	}
	&:last-child {
		.jcf-radio{
			margin:1px 11px 4px  0;
		}
	}
}

.cost-variant{
	text-align: right;
	color: $second-dark;
	dl{	
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		width: 339px;
		margin: 0 0 10px;
		padding: 0 0 10px;
		font-size: 16px;
		font-weight: 600;
		border-bottom: 1px solid $border-form;
		@include media ('<phone') {
			font-size: 14px;
			width: 100%;
		}
	}
	dt{
		padding: 0 31px 5px 0;
		float: left;
		width: 279px;
		clear: both;
		@include media ('<phone') {
			padding: 0 20px 5px 0;
			width: 80%;
		}
	}
	dd{
		width: 60px;
		float: right;
		margin: 0;
		@include media ('<phone') {
			width: 20%;
		}
	}
	.red{
		color: $red;
	}
	.cost{
		line-height: 36px;
		display: block;
		margin: 0 0 13px;
		sup{
			font-size: 20px;
			margin: 0 2px 0;
			// line-height: 65px;
			// display: inline-block;
			// vertical-align: top;
		}
		.price{
			font-weight: 600;
			font-size: 36px;
		}
	}
}

.accept-form,.register-form{
	padding: 0 0 30px;
	// border-bottom: 1px solid $border-form;
	@include media ('<phone') {
		padding: 0 0 40px;
	}
	.row,.input-row{
		@extend %clearfix;
		margin: 0 0 21px;
		label{
			text-transform: none;
			font-size: 15px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 -4px 0 0;
			padding: 0 14px 0 0 ;
			@include media ('<tablet') {
				font-size: 13px;
			}
			@include media ('<phone') {
				padding: 0 5px 0 0;
				font-size: 11px;
				width: 284px;
			}
		}
	}
	.jcf-checkbox{
		display: inline-block;
		vertical-align: middle;
		margin:0 0 1px;
	}
	label > a{
		color: $btn-blue;
		// text-decoration: none;
		// font-weight: 600;
		line-height: 18px;
		&:hover{
			color: darken($btn-blue,10%);
		}
	}
	input[type="submit"]{
		// min-width: 169px;
		// line-height: 16px;
		// padding:14px 5px 10px;
	}
	.form-bottom {
		margin-top: 20px;
	}
}

.box-frame{
	// padding: 50px 0 45px;
	text-align: center;
	color: $text-color;
	@include media ('<tablet') {
		text-align: center;
		padding: 20px 0;
		font-size: 13px;
	}
	@include media ('<phone') {
		padding: 10px 0;	
	}
	.img-frame{
		// padding: 4px 52px 10px 4px;
		// float: left;
		margin-bottom: 15px;
		@include media ('<tablet') {
			float: none;
			padding: 10px;
		}

	}
	.text-frame{
		overflow: hidden;
		p {
			font-size: 15px;
			line-height: 20px;
		}
	}
}

#footer {
	background: $footer-bg;
	// padding: 50px 0 0;
	border-top: 4px solid $border-red;
	@include media ('<phone') {
		padding: 22px 0 0;
	}
}

.footer-nav{
	@extend %clearfix;
	border-bottom: 1px solid $footer-border;
	padding: 0 0 39px;
	@include media ('<tablet') {
		padding: 0;
	}
}

.nav-box{
	float: left;
	width: 25%;
	padding: 0 20px 0 0;
	@include media ('<tablet') {
		width: 50%;
	}
	@include media ('<phone') {
		padding: 0 10px 0 0;
	}
	dl{
		@extend %clearfix;
		margin:7px  0 8px;
		@include media ('<phone') {
			font-size: 11px;
		}
	}
	dt{
		float: left;
		color: darken($white,40%);
	}
	dd{
		overflow: hidden;
		font-weight: bold;
		padding: 0 0 6px;
		@include media ('<phone') {
			margin: 0 0 0 37px;
		}
		a{
			color: $gold;
			text-decoration: none;
			&:hover{
				color: darken($gold,10%);
			}
		}
	}
}

.link-list{
	@extend %listreset;
	padding: 7px 0;
	li{
		margin: 0 0 6px;
		color: darken($white,40%);
	}
	a{
		text-decoration: none;
		color: darken($white,40%);
		@include media ('<phone') {
			font-size: 12px;
		}
		&:hover{
			color:$white;
		}
	}
}

.social-networks{
	@extend %listreset;
	@extend %clearfix;
	padding:24px 0;
	@include media ('<phone') {
		padding: 10px 0;
	}
	li{
		float: left;
		margin: 0 11px 0 0;
		@include media ('<phone') {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 3px;
		}
	}
	a{
		color: darken($white,40%);
		text-decoration: none;
		font-size: 25px;
		&:hover{
			color: $white;
		}
	}
	.icon-instagram{
		line-height: 30px;
	}
}

.bottom-box{
	padding: 34px 0;
	color: darken($white,40%);
	@include media ('<phone') {
		text-align: center;
		display: table;
		width: 100%;
	}
}

.copyright{
	overflow: hidden;
	font-size: 13px;
	@include media ('<phone') {
		display: table-header-group;
	}
	.logo{
		display: inline-block;
		vertical-align: top;
		margin: 0 15px 0 0;
		width: 80px;
		height: 21px;
	}
	span > a{
		color: darken($white,40%);
		text-decoration: none;
		&:hover{
			color:$white;
		}
	}
}

.rights{
	float: right;
	@include media ('<phone') {
		float: none;
		display: table-footer-group;
	}
}

.points-form {
	margin-bottom: 2em;
	label {
		font-size: 20px;
		text-transform: none;
		color:$second-dark;
		em {
			font-style:italic;
			font-size: 60%;
			color:$light-grey;
			line-height: 1;
			display: block;
		}
		span {
			color:$blue;
			font-weight: 800;
		}
	}
}

/* Reserve Step 3 */
#ticket-login-form {
	background: #fff;
	.title{
		margin: 0 0 14px;
		display: block;
		color: $dark;
		span{
			font-weight: 400;
		}
		span {
			color: $light-grey;
		}
	} 
	input[type="submit"] {
		width: 100%;
	}
}

.trip-total {
	background-color: $blue;
	padding: 0 24px;
	height: 60px;
	line-height: 60px;
	position: relative;
	z-index: 2;
	span {
		color: $white;
		font-size: 24px;
		&.cost {
			sup {
				font-size: 14px;
				margin-right: 3px
			}
		}
	}
}