.day-picker {
	display: table;
	width: 100%;
	margin-top: 2em;
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table-row;
		width: 100%;
		@include mobile-only {
			font-size: .72em;
		}
		li {
			// border-left: 1px solid #dfe6e6;
			// border-top: 1px solid #dfe6e6;
			// border-bottom: 1px solid #dfe6e6;
			background: #f8fafb;
			padding: 17px 0;
			text-align: center;
			display: table-cell;
			cursor: pointer;
			width: 20%;
			line-height: 20px;
			&:hover {
				@include transition(all 300ms ease-in-out);
				background: darken(#f8fafb, 3%);
			}
			&.active {background: #3fb9be; /* Old browsers */
				background: #3fb9be;
				background: -moz-linear-gradient(45deg, #3fb9be 25%, #439adb 100%);
				background: -webkit-linear-gradient(45deg, #3fb9be 25%,#439adb 100%);
				background: linear-gradient(45deg, #3fb9be 25%,#439adb 100%);
				transform: scale(1.1, 1.1) translateY(0px);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				border-radius: 2px;
				// border-color: darken($teal, 5%);
				// border-right: 1px solid darken($teal, 5%);
				.day, .date {
					color: #fff;
				}
			}
			&:first-child {
				border-radius: 5px 0 0 5px;
			}
			&:last-child {
				border-radius: 0 5px 5px 0;
				// border-right: 1px solid #dfe6e6;
			}
			.day {
				display: block;
				color: $blue;
				font-weight: 600;
			}
			.date {
				color: #8d939c;;
				// font-size: .8em;
				// padding-top: .4em;
				display: block;
			}
		}
	}	
}



.trip-details {
	font-weight: 700;
	font-size: .9em;
	margin-bottom: 5px;
	font-style: italic;
	b {
		color: #363636;
	}
	span {
		color: $blue;
	}
	i {
		font-size: 2em;
		color: #d0dada;
		position: relative;
		top: 3px;
		padding: .2em;
		display: inline-block;
		@include mobile-only {
			opacity: 0;
			display: block;
			height: 3px;
		}
	}
}
.trip-details-sub {
	// color: #7e7e7e;
	font-size: .8em;
	font-weight: 200;
	@include mobile-only {
		padding-top: 10px;
	}
}


.trip-options {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	font-weight: 600;
	.mobile-only.option {
		margin-top: 11px;
	}
	.web-only {
		width: 100%;
		padding: 0;
		float: none;
		line-height: inherit;
	}
	li {
		// border-bottom: 1px solid #e7ecec;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		&:nth-child(even) {
			background: #f8fafb;
			@include mobile-only {
				background: #fff;
			}
		}
		// &:hover {
		// 	span {
		// 		color: $blue;
		// 		@include transition(all 300ms ease-in-out);
		// 	}
		// 	.price {
		// 		span {
		// 			color: $blue;
		// 		}
		// 	}
		// }
		&.tb-available {
			span {
				color: $blue;
				@include transition(all 300ms ease-in-out);
			}
			.price {
				span {
					color: #6086a0;
				}
			}
			.commodity {
				.fa {
					color: $blue;
				}
				.unavailable.fa {
					color: $red;
				}
			}
		}
		&.tb-sold-out {
			.price {
				span {
					color: $red;
				}
			}
		}
		div {
			float: left;
			padding: 20px 0 20px;
			line-height: 1.5em;
			@include mobile-only {
				padding: 0;
				line-height: 1;
			}
			&.select-indicator {
				.checkmark {
					width: 25px;
					height: 25px;
					border: 2px solid #e6e6e6;
					border-radius: 50px;
					top: 25px;
					left: 7px;
					position: relative;
				}
			}
			&.arrive-time {
				@include mobile-only {
					font-size: .7em;
					span {
						color: darken(#b6c1c9, 15%);
						&.time {
							padding-top: 0;
						}
					}
				}
			}
			&.arrow {
				margin-top: 21px;
				text-align: center;
				.icon {
					vertical-align: middle;
					fill: #b6c1c9;
					stroke: #b6c1c9;
				}
				.fa {
					color: #b6c1c9;
					height: 30px;
					width: 30px;
					font-size: 30px;
				}
			}
			&.commodity{
				.list-inline {
					margin: 0;
					li {
						margin-right: 0;
					}
					.ban{
						i {
							color:#ef5840;
						}
					}
				}
				margin-top: 21px;
				@include mobile-only {
					margin-top: 0;
				}
				// text-align: center;
				.icon {
					vertical-align: middle;
					fill: #b6c1c9;
					stroke: #b6c1c9;
				}
				.fa {
					
				}
			}
			&.space {
				@include mobile-only {
					display: none;
				}
			}
			&.price {
				padding-top: 2.5em;
				line-height: 1.2em;
				@include mobile-only {
					text-align: right;
					padding-top: 0;
				}

				span {
					color: #b6c1c9;
					&.label {
						@include mobile-only {
							display: none;
						}
					}
					&.price {
						font-size: 1.6em;
						@include mobile-only {
							font-size: 1.4em;
							line-height: 66px;
						}
					}
					&.sold-out {
						font-size: 1.6em;
						color: $red;
						@include mobile-only {
							font-size: 1.4em;
							line-height: 66px;
						}
					}
				}
			}
			span {
				display: block;
				text-align: center;
				color: #b6c1c9;
				@include transition(all 300ms ease-in-out);
				@include mobile-only {
					text-align: left;
					color: darken(#b6c1c9, 30%);
					display: inline-block;
				}
				&.label {
					text-transform: uppercase;
					font-size: .75em;
					@include mobile-only {
						padding-top: 0;
						font-weight: 700;
					}
				}
				&.time {
					letter-spacing: .4px;
					font-size: 2em;
					@include mobile-only {
						padding-top: 20px;
						font-size: 1.1em;
					}
				}
				&.location {
					text-transform: uppercase;
					font-size: .9em;
					@include mobile-only {
						display: none;
					}
				}
			}
		}
		.alert {
			color: #e25054;
			line-height: 1em;
			padding: 0;
			clear: both;
			padding-left: 2.5em;
			@include mobile-only {
				padding-left: .5em;
			}
			font-size: .8em;
			position: absolute;
			bottom: 0;
			.icon {
				fill: #e25054;
				height: 15px;
				width: 12px;
				font-size: .8em;
				overflow: hidden;
				margin-right: .5em;
				vertical-align: text-bottom;
			}
		}
	}
}

/* General Section Styles */
.section-reserve {
	.tb-remove-line-height, .title-holder {
		line-height: 15px;
		padding-left: 44px;
		@include mobile-only {
			padding-left: 0;
			line-height: inherit;
		}
		h2 {
			text-align: center;
			font-size: 2.2em;
			color: #222;
			@include mobile-only {
				font-size: 1.7em;
				width: 90%;
				margin: auto;
				line-height: 1em;
				padding: 2em 0 1em;
			}
		}
		h3 {
			font-size: 1.3em;
			position: relative;
			margin-bottom: 0;
			&.reserve-section-headline {
				margin-bottom: .25em;
				font-weight: bold;
				clear: both;
				span {
					display: block;
					font-size:70%;
					font-style: italic;
					font-weight: normal;
				}
				@include tablet-portrait-and-below {
					&:before, &:after {
						display: none;
					}
				}
				// &:before {
				// 	border-radius: 500px;
				// 	border: 2px solid #3fb1b5;
				// 	height: 43px;
				// 	width: 43px;
				// 	position: absolute;
				// 	left: -67px;
				// 	top: -12px;
				// 	content: '';
				// }
				&:after {
					height: 35px;
					width: 35px;
					line-height: 36px;
					background: rgba(63, 177, 181, 1);
					border-radius: 500px;
					text-align: center;
					color: #fff;
					position: absolute;
					left: -45px;
					top: -4px;
					font-size: .95em;
				}
				&.a {
					&:after {
						content: 'A';
					}
				}
				&.b {
					&:before {
						border: 2px solid #439adb;
					}
					&:after {
						background: #439adb;
						content: 'B';
					}
				}
				&.c {
					&:after {
						content: 'C';
					}
				}
				&.d {
					&:before {
						border: 2px solid #439adb;
					}
					&:after {
						background: #439adb;
						content: 'D';
					}
				}
			}
			b {
				font-weight: 600;
			}
		}
	}
}

.section-reserve-3 {
	.content {
		padding: 0 25px 2em;
	}
}




			