html {
	box-sizing: border-box;
	font-family: inherit !important;
}  
*, *:before, *:after {
	box-sizing: inherit;
}

.pure-g, .pure-g [class *="pure-u"] {
	font-family: inherit !important;
}

body {
	font-weight: normal;
	font: 16px/1.71428 "Proxima Nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ov {
	overflow: hidden;
}

.il {
	display: inline;
}

.cb {
	clear: both;
}

.wl {
	letter-spacing: .05em;
}

#mobileCheck {
	display: none;
	@include tablet-portrait-and-below {
		display: block;
	}
}

.col-p {
	padding:1em;
}

.content-section {
	padding:4em 0;
}

.hero + .content-section {
	.home & {
		padding: 0;
		@include tablet-portrait-and-up {
		padding:4em 0;
	}
	}
	padding: {
		top:5em;
	}
}

strong {
	font-weight: bold;
}

/* Text Styles */

.bold {
	font-weight: 700;
}

.light {
	font-weight: 200;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.web-only {
	@include tablet-portrait-and-below {
		display: none;
	}
}

.mobile-only {
	display: none;
	@include tablet-portrait-and-below {
		display: block;
	}
}

.container-fluid {
	max-width: 1000px;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}



/* -- Import other styles --*/
@import "../base/typography"
