/* hero */

// Custom Background Images
body {
	&.DC {
		.hero {
			@include background-image(linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 80%), url('img/hero/2-newyork.jpg'));
		}
	}
	&.newyork {
		.hero {
			@include background-image(linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 80%), url('img/hero/1.jpg'));
		}
	}
	&.anywhere {
		.hero {
			@include background-image(linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 80%), url('img/hero/3-newyork.jpg'));
		}
	}
}	

.reschedule {
	.content-holder {
		.content {
			padding-top: 2em;
		}
	}
}
.trip-total {
	background:$blue;
	padding:.5em 25px;
	font-size: 1.5em;
	span{
		color:white;
	}
}

.hero {
	.home & {
		margin-bottom: 0;
		h1 {
			line-height: 1.1;
			b {
				font-weight: 800;
			}
		}
	}
	background: #000;
	@include background-image(linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 80%), url('img/hero/1.jpg'));
	background-size: cover !important;
	background-position: center center;
	height: 535px;
	margin-bottom: 15em;
	&.inner {
		height: 281px;
		margin-bottom: -120px;
		.reservation-page & {
			margin-bottom: 10em;
		}
		&.small {
			height: 88px;
			margin-bottom: 0;
		}
		@include tablet-portrait-and-below {
			margin-bottom: 36px;
		}
		&.one {
			margin-bottom: 350px;
			#tickets .forms-hldr {
				box-shadow: 0 20px 30px rgba(0,0,0,.08);
				display: block;
				@include tablet-portrait-and-below {
					box-shadow: 0 0 0 #fff;
				}
			}
			#tickets .top {
				display: block;
			}
		}
		@include tablet-portrait-and-below {
			height: 328px;
			.reservation-page & {
				height:auto;
				margin-bottom: 4em;
			}
			&.one {
				margin-bottom: 650px;
			}	 
		}
		#tickets .forms-hldr {
			box-shadow: 0 -20px 30px rgba(0,0,0,.08);
			background: white;
			.logged-in &{
				height:200px;
			}
		}
	}
	@include tablet-portrait-and-below {
		height: auto;
		margin-bottom: 9em;
		background-size: auto 528px;
    	background-position: top center;
	}
	h1 {
		font-size: 2.7em;
		text-align: center;
		width: 100%;
		z-index: 100;
		color: #fff;
		text-shadow: 0 1px 0px rgba(0,0,0,.7);
		font-weight: 100;
		padding-top: 4em;
		@include mobile-only {
			font-size: 2.3em;
			line-height: 1.3em;
			width: 80%;
			margin: auto;
		}
		span {
			border-bottom: 3px solid $teal;
			font-weight: 600;
			@include mobile-only {
				border-bottom: 2px solid $teal;
			}
		}
	}
	h2 {
		color: #fff;
		font-size: 1.2em;
		padding-top: 35px;
		text-align: center;
		text-shadow: 0 1px 0px rgba(0,0,0,.7);
		@include mobile-only {
			width: 92%;
			font-size: 1.3em;
			margin: auto;
		}
	}
	#tickets {
		max-width: 1040px; // add usual padding
		margin: 0 auto;
		height: 309px;
		background: #fff;
		position: relative;
		top: 88px;
		@include tablet-portrait-and-up {
			.home & {
				height: 390px;
			}
		}

		.logged-in & {
			top:148px;
		}
		box-shadow: 0 20px 30px rgba(0,0,0,.08);
		@include tablet-portrait-and-below {
			height: auto;
			overflow: hidden;
			padding-bottom: 2em;
		}
	}
}