.content-section {
	padding-top: 2em;
}



.pickup {
	h2 {
		color: #222;
		padding-bottom: 3em;
		b {
			border-bottom: 2px solid #222;
		}
	}
	.city {
		margin-top: 2em;
		margin: auto; 
		width: 300px;
		background-size: 100%;
		background-position: center center;
		display: inline-block;
		letter-spacing: 1px;
		@include transition(all 200ms ease);
		@include mobile-only {
			width: 100%;
		}
		&:hover {
			background-size: 102%;
			background-position: center center;
			@include transition(all 300ms ease);
			.info h3 {
				&:after {
					width: 100%;
					background: $teal;
				}
			}
		}

		&.bethesda {
			background-image: url(img/bethesda.png);
		}
		&.arlington {
			background-image: url(img/arlington.png);
			margin-left: 10px;
		}
		&.newyork {
			background-image: url(img/newyork.png);
		}	
		.info {
			margin-top: 244px;
			height: 180px;
			padding: 45px 20px 0;
			text-align: center;
			background: rgba(44,53,61,1);
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c353d+0,2c353d+53&amp;0+0,1+40 */
			background: -moz-linear-gradient(top,  rgba(44,53,61,0) 0%, rgba(44,53,61,1) 40%, rgba(44,53,61,1) 53%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,53,61,0)), color-stop(40%,rgba(44,53,61,1)), color-stop(53%,rgba(44,53,61,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(44,53,61,0) 0%,rgba(44,53,61,1) 40%,rgba(44,53,61,1) 53%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(44,53,61,0) 0%,rgba(44,53,61,1) 40%,rgba(44,53,61,1) 53%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(44,53,61,0) 0%,rgba(44,53,61,1) 40%,rgba(44,53,61,1) 53%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(44,53,61,0) 0%,rgba(44,53,61,1) 40%,rgba(44,53,61,1) 53%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c353d', endColorstr='#2c353d',GradientType=0 ); /* IE6-9 */

		}
		h3 {
			color: $teal;
			padding-top: 28px;
			font-size: 1.2em;
			padding-bottom: 2px;
			padding-bottom: 10px;
			width: auto;
			display: inline-block;
			&:after {
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}
		}
		p {
			color: #fff;
			font-weight: 200;
			font-size: .8em;
			line-height: 1.3em;
		}
	}
}


/* Sub- Hero Icons */
.sub-icons {
	p {
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
	}
	.icon-contain {
		height:40px;
	}
	@include mobile-only {
		padding-top: 2em;
	}
	.pure-g > div {
		@include tablet-portrait-and-below {
			margin: 1.5em 0;
		}
	}
	.circle {
		border-radius: 500px;
		width: 130px;
		height: 130px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: auto;
		&.testimonial {
			background-image: url('img/bus-homepage-icon.jpg');
		}
		&.award {
			background-image: url('img/award-homepage-icon.jpg');
		}
		&.ticket {
			background-image: url('img/free-ticket-homepage-icon.jpg');
		}
	}
	.text {
		color: #5f666a;
		line-height: 160%;
		@include tablet-portrait-and-below {
			padding-top: 1em;
			font-size: .9em;
		}
		&.award-text {
			font-size: 13px;
		}
		&.ticket-main {
			p {
				line-height: 1;
				span {
					color: $red;
					font-weight: 800;

				}
			}
		}
		&.ticket-sub {
			color: #5f666a;
			padding-top: .2em;
		}
	}
	img {
		text-align: center;
		margin: auto;
		display: block;
	}
}

.sub-pictures {
	padding:2em 0;
	.img {
		width: 95%;
		height: 325px;
		background: #000;
		background-repeat: no-repeat;
		background-size: cover;
		@include mobile-only {
			width: 100%;
			margin: 1.5em 0 0;
		}
		&.travel-info {
			background-image: url('img/retouched.png');
		}
		&.first-class {
			background-image: url('img/sub-first-class.jpg');
		}
	}
	.headline {
		font-size: 1.8em;
		color: #fff;
		line-height: 1.3em;
		width: 80%;
		font-weight: 200;
		padding: 40px;
		@include mobile-only {
			width: 100%;
		}
		span {
			font-weight: 500;
			color: $teal;
			display: inline-block;
		}
		i {
			display: block;
		}
	}
	.read-more {
		text-transform: uppercase;
		color: #fff;
		padding-top: 3em;
		border-top: 1px solid rgba(255,255,255,.3);
		font-size: .7em;
		margin: 0 40px;
		width: 30%;
		.icon {
			fill: #fff;
			stroke: #fff;
			height: 9px;
			width: 5px;
			left: 3px;
			position: relative;
		}
	}
}



.amenities {
	background: #3f9ee0;
	overflow: hidden;
	padding-top: 16em;
	.amenities-list {
		color: #fff;
		padding: 5em 0;
		max-width: 750px;
		margin: auto;

		> div {
			width: 50%;
			@include mobile-only {
				width: 100%;
			}
		}
	}
	.select-amenity {
		@include mobile-only {
			display: none;
		}
		.icon {
			width: 25px;
			height: 25px;
			fill: #fff;
			stroke: #fff;
			vertical-align: middle;
			margin: .8em 1em;
			position: relative;
		}
		li {
			position: relative;
			cursor: pointer;
			&:hover {
				background: darken(#3f9ee0, 5%);
			}
			&:after {
				clear: both;
				content: '';
				display: block;
			}
			a {
				border-bottom: 1px solid darken(#3f9ee0, 5%);
				width: 100%;
				padding: 14px 0;
				display: inline-block;
				float: right;
				width: 80%;
				color: #fff;
			}
			&.active {
				color: #3f9ee0;
				background: #fff;
				&:before {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					right: -28px;
					width: 0;
					height: 0;
					border: 0 solid transparent;
					border-bottom-width: 27.5px;
					border-top-width: 27.5px;
					border-left: 28px solid white;
					// border-style: solid;
					// border-width: 27px 0 27px 32.8px;
					// border-color: transparent transparent transparent #ffffff;
					// line-height: 0px;
					// _border-color: #000000 #000000 #000000 #ffffff;
					// _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
					// right: -32px;
				}
				a {
					border-bottom: none;
					color: #3f9ee0;
				}
				.icon {
					fill: #3f9ee0;
					stroke: #3f9ee0;
				}
			}
		}
	}
	.amentities-details {
		@include desktop-and-up {
			> div {
				display: none;
				&.active {
					display: block;
				}
			}
		}
		.icon {
			fill: #fff;
			stroke: #fff;
			height: 100px;
			@include mobile-only {
				margin: auto;
			}
		}
		h4 {
			font-weight: 200;
			font-size: 1.8em;
			padding-top: .6em;
			padding-bottom: .7em;
			&.no-space {
				padding-bottom: 0;
				margin-bottom: 0;
			}
			@include mobile-only {
				text-align: center;
			}
		}
		p {
			font-weight: 200;
			font-size: .9em;
			line-height: 1.4em;
			@include mobile-only {
				text-align: center;
			}
		}
		.detail {
			padding: 1em 0em 1em 4em;
			@include mobile-only {
				text-align: center;
				padding: 0;
			}
		}
	}
}