/* tickets */
.tickets {
	.fa.fa-arrow-left {
		transform:rotate(45deg);
	}
	.top {
		background: $teal;
		height: 60px;
		color: #fff;
		padding: 0 $gutter;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;

		span {
			margin: 13px 10px; 
			display: inline-block;
			opacity: .5;
			position: relative;
			text-transform: uppercase;
			font-size: .9em;
			cursor: pointer;
			@include transition(all 300ms ease-in-out);
			.icon {
				position: relative;
				top: 5px;
				width: 20px;
				height: 19px;
				padding-right: 3px;
				fill: #fff;
				border: 0;
				outline: none;
			}
			&.oneway {
				.icon {
					height: 12px;
					top: 2px;
					padding-right: 0px;
				}
			}
		}
		[type="radio"] {
			display: none;
		}
		[type="radio"]:checked + span {
		   opacity: 1;
		   	&:after {
		   		content: '';
			   	width: 0; 
			   	height: 0; 
			   	border-left: 5px solid transparent;
			   	border-right: 5px solid transparent;
			   	display: block;
			   	border-bottom: 5px solid white;
			   	position: absolute;
			   	bottom: -23px;
			   	left: 50%;
			   	margin-left: -2.5px;
		   	}
		}
		.reschedule {
			padding: 20px 10px;
			opacity: .5;
			text-transform: uppercase; 
			font-size: .8em;  
			cursor: pointer;

			@include transition(all 300ms ease-in-out);
			.icon {
				position: relative;
				top: 6px;
				width: 20px;
				height: 20px; 
				padding-right: 3px;
				fill: #fff; 
				stroke: #fff;
				border: 0; 
				outline: none;
			}
			&:hover, &.current {
				opacity: 1;
			}
		}
	}
	.ticket-info {
		padding: 4em 20px;
		width:100%;
		@include tablet-portrait-and-below {
			padding: 3em 1em 2em;
			margin: 0;
			overflow: hidden;
			margin-bottom: 2em;
		}
		span.input {
			padding: 0 3px;
			@include transition(all 300ms ease-in-out);
			@include tablet-portrait-and-below {
				margin: 0 0 2.6em;
			}
			
			&.disabled {
				opacity: .3;
				@include transition(all 300ms ease-in-out);
			}
		}
		.icon {
			position: absolute;
			width: 16px;
			left: 12px;
			top: 15px;
			fill: $light-grey;
			z-index: 201;
			@include tablet-portrait-and-below {
				
			}
		}
	}
	.form-bottom {
		margin: 0 30px;
		border-top: #e7e7e7 1px solid;
		padding: 3em 0 0;
		@include tablet-portrait-and-below {
			padding: 1.5em 0 0em;
		}
	}
	.coupon {
		label {
			height: 100%;
		    display: inline-block;
		    padding: 1.9em 1.5em 1em .5em;
		    text-transform: uppercase;
		    font-size: .7em;
		    width: 51%;
		    text-align: right;
		    @include tablet-portrait-and-below {
		    	width: 60%;	
		    	padding-bottom: 4em;
		    }
		}
		input {
			width: 38%;
			margin-right: 11%;
			&[type="submit"]{
				width:100%;
			}
			@include tablet-portrait-and-below {
				margin-right: 0%;	
			}
		}
	}
}

.forms-hldr {
	padding-top: 60px;
}

#reschedule-form, #ticket-form {
	@extend .clearfix;
	
	.ticket-info {
	@extend .clearfix;

	}
	opacity: 0;
	display: none;
	&.active {
		opacity: 1;
		display: block;
	} 
}

// Active inputs 
.tickets .ticket-info .valued {
	@include transition(all 300ms ease-in);
	.input__field--ruri, div.cs-skin-slide {
		@include transition(all 700ms ease-in-out);
		border: 1px solid $teal;
	}
	.icon {
		@include transition(all 700ms ease-in-out);
		fill: $teal;
		stroke: $teal;
	}
}

//Inner Page Styles (Reserve Steps)
.hero.inner #tickets {
	background: transparent;
	padding-top: 33px;
	height: auto;
	box-shadow: none;
	@include mobile-only {
		padding-top: 10px;
	}
	.top-header {
		background: rgba(63, 177, 181, .95);
		height: 100px;
		border-radius: 5px 5px 0 0;
		@include mobile-only {
			height: 171px;
		}
		h3 {
			font-size: 1.8em;
			color: #fff;
			font-weight: 200;
			left: 1em;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			@include mobile-only {
				text-align: center;
				padding-top: 1em;
				top: 0;
				transform: translateY(0);
				width: 100%;
				float: none;
				left: 0;
			}
		}
		.steps {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			@include mobile-only {
				top: 0;
				transform: translateY(0);
				float: none;
			    margin: auto;
			    top: -3px;
			}
			.step {
				display: inline-block;
				width: 105px;
				text-align: center;
				position: relative;
				&:after {
					height: 2px;
					width: 72px;
					position: absolute;
					background: #fff;
					content: '';
					top: 16px;
					left: 71px;
				}
				&.last {
					&:after {
						height: 0px;
						width: 0px;
					}
				}
				&.active {
					.num {
						background: #fff;
						color: rgba(63, 177, 181, 1);
					}
				}
				.num {
					border-radius: 500px;
					border: 2px solid #fff;
					width: 33px;
					height: 33px;
					line-height: 31px;
					color: #fff;
					text-align: center;
					margin: auto;
				}
				span.label {
					font-size: .7em;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					padding-top: .5em;
					display: inline-block;
					padding-top: 1em;
				}
			}
		}
	}	
	.top {
		position: relative;
		background: rgba(43, 152, 156, .95);
		@include mobile-only {
			display: none;
		}
		.trip-type-hldr {
			@include mobile-only {
				text-align: center;
				float: none;
			}
		}
	}
	.forms-hldr {
		padding-top: 0;
		padding-bottom: 2em;
		@include mobile-only {
			display: none;
		}
	}
	.button-pre-text label {
		line-height: 50px;
	    text-align: right;
	    width: 90%;
	    display: block;
	    color: #999;
	    font-size: .9em;
	    font-style: italic;
	    @include mobile-only {
	    	text-align: center;
    		width: 100%;
	    }
	}
}