/*
	*Header
*/

header[role=banner] {
    padding:25px 0;
    @include coverImage('header-bg.jpg');
    .logo {
        margin-right: 30px;
        float: left;
        strong {
            font-weight: 500;
            font-size:9px;
            color: $light;
            text-align: center;
        }//strong
        img {
            display: block;
        }
        text-decoration: none;
    }//logo
    .user-menu {
        padding-top: 6px;
        float: right;
        li {
            margin-right: 25px;
            float: left;
            &:nth-child(2) {
                a {
                    background-position: 0 -20px;
                }//a
            }//li#2
        }//li
        a {
            padding:2px 0 2px 25px;
            font-size: 13px;
            font-weight: 500;
            display: block;
            background: image-url('sprites-user-menu.png') no-repeat 0 2px;
        }//a
    }//user menu
    nav {
        padding-top:8px;
        float: left;
        li {
            margin-right: 20px;
            float: left;
            font-size: 13px;
            &:last-child {
                &:after {
                    position: relative;
                    right:-8px;
                    top: -3px;
                    content: '\25bc	';
                    font-size: 7px;
                    font-weight: normal;
                    color: $light;
                }//after
            }//li-last
        }//li
        a {
            font-weight: 600;
        }
    }//nav

    .pic {
        padding-top: 100px;
        @include span(2 of 12);
    }//pic

    .info {
        @include span(8 of 12);
        @include prefix(0.75);
        padding-top: 120px;
    }//info


}//header
