﻿/*
 * Main Content
*/

div[role=main] {
    @include span(9.6 of 12);
    padding-bottom: 100px;
    // background-color: $light;
    h1 {
        padding: 25px 50px 0;
        margin-bottom: 5px;
        // border-bottom: 1px solid #e5e5e5;
        font-size: 20px;
        font-weight: 600;
        color: #48adb1;
    } //h1
    h2 {
        padding:0 0 20px 10px;
        font-size: 22px;
        color: #222222;
    /*    &:before {
            width: 9px;
            height: 8px;
            background-color: #039bbf;
            content:'';
            display: inline-block;
            position: relative;
            top:-3px;
            left:-10px;
        }//before*/
        span {
            font-size: 15px;
            line-height: 35px;
            color: #838383;
            font-weight: 500;
            display: block;
            text-transform: none;
        }//span
    }//h2
}//main

.step-headline{
    margin-bottom: .25em;
    font-weight: bold;
    clear: both;
    position: relative;
    line-height: 1;
    padding-left: 45px !important;
    span {
        display: block;
        font-size:70%;
        font-style: italic;
        font-weight: normal;
    }

    // &:before {
    //  border-radius: 500px;
    //  border: 2px solid #3fb1b5;
    //  height: 43px;
    //  width: 43px;
    //  position: absolute;
    //  left: -67px;
    //  top: -12px;
    //  content: '';
    // }
    &:after {
        height: 35px;
        width: 35px;
        line-height: 36px;
        background: $blue;
        border-radius: 500px;
        text-align: center;
        color: #fff;
        position: absolute;
        top:0;
        left:0;
        font-size: .95em;
    }
    &.a {
        &:after {
            content: 'A';
        }
    }
    &.b {
        &:before {
            border: 2px solid #439adb;
        }
        &:after {
            background: $teal;
            content: 'B';
        }
    }
    &.c {
        &:after {
            content: 'C';
        }
    }
    &.d {
        &:before {
            border: 2px solid #439adb;
        }
        &:after {
            background: #439adb;
            content: 'D';
        }
    }
}





