/*
 * Popup
*/
#popup-wrapper {
  .padding {
    padding: 25px 50px;
  }//padding
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0, 0, .45);
  position: fixed;
  left: 0;
  top:0;
  text-align: center;
  z-index: 1000;
  display: none;
  .content {
    max-width:50%;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    display: inline-block;
    position: relative;
    border:solid 1px #f4f7f8;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
  }//content
  header {
    @extend .padding;
    text-align:center;
    color:#313131;
    p {
      font-size: 20px;
      font-weight: normal;
      color: $teal;
      margin-bottom: 0;
      span {
        font-weight: 600;
      }//span
    }//p
  }//header
  h3 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
  }//h3
  .close {
    right:20px;
    top:20px;
    position: absolute;
    font-size: 23px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:rgba(black,.5);
  }//close
  footer {
    @extend .padding;
    text-align: center;
    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      color: #8a8b8a;
    }//p
  }//footer
  .row {
    margin-bottom: 20px;
    @include clearfix;
  }
  form {
    @extend .padding;
    padding-bottom: 0;
  }
  label {
    @include span(5.5 of 12);
    &:last-child {
      @include last;
    }//last
  }//label
  input[type=text] {
    width: 100%;
    display: block;
    @include border-radius(2px);
    border:1px solid #c0cdce;
    font-size: 17px;
    font-weight: 600;
    color: #222222;
  }//text
  .cols {
    label {
      @include span(3.7 of 12);
      margin-right: span(.85 of 12);
      &:last-child {
        @include last;
      }
    }//text
  }//cols
  .submit {
    text-align: center;
    input {

    }//submit button
  }//submit row
  fieldset {
    margin-bottom: 0;
  }//fieldset
  .seats {
    input {
      padding-left: 34px;
      background: url('img/account/ico-seats.png') 10px center no-repeat !important;
    }//input
  }//calendar
  .calendar {
    input {
      padding-left: 34px;
      background: url('img/account/ico-calendar.png') 10px center no-repeat;
    }//input
  }//calendar
  .location {
    input {
      padding-left: 34px;
      background: url('img/account/ico-location.png') 10px center no-repeat;
    }//input
  }//location
}//wrapper/overlay
