/*
 * Reservations History
*/

.active-trip {
  color:$blue;
}

.reservation-history {
  .trip {
    margin-bottom: 40px;
    border-bottom: none;
    border: solid 1px #f4f7f8;
  }//table
  .trip-details {
    padding: 20px;
  }
  .tr {
    display: flex;
  }
  .th {
    height: 46px;
    background-color: #f4f7f8;
    display: table-cell;
    &:first-child {
      span {
        padding:12px 0 12px 20px;

        display: inline-block;
      }//span
      font-size: 14px;
      font-weight: bold;
      &.active {
        span {
          border-color: #6cbf4a;
          color:#6cbf4a;
        }//span
      }//active
      &.canceled {
        span {
          border-color: #d95b32;
          color:$red;
        }//span
      }//canceled
      &.modified {
        border-color: #009abe;
        color: #009abe;
      }//modified
  
    }//first child
    &.col-1 {
      //width:240px;
    }//col1
    &.col-2 {
      //width:300px;
    }//col2
    &.col-3 {
      //width:280px;
      padding: 10px 20px 0 0;
      text-align: right;
    }//col3
  }//th
  .td {
    padding:20px 20px 10px 20px;
    vertical-align: top;
    border-bottom: 1px solid #eeeff0;
    display: table-cell;
    &.middle {
      vertical-align: middle;
    }//middle
  }//td
  h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 11px;
    color:#8a8b8a;
    &.right {
      text-align: right;
    }//right
  }//h3
  h4 {
    @extend h3;
    margin-bottom: 20px;
    font-size: 12px;
  }
  p {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    line-height: 20px;
    &.active {
      color:$green;
    }
    &.small {
      font-size: 15px;
    }
    img {
      bottom: -3px;
      position: relative;
    }//img
  }//p
  .blue {
    color: #3f9ee0;
  }//blue
  .green {
    color:#6cbf4a;
  }//green
  .red {
    color: #d95b32;
  }//red
  li {
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    span {
      width:40px;
      float: right;
      font-weight: bold;
    }//span
  }//li
}//reservations

.res-number {
  padding: 4px 0px 4px 10px;
  display: inline-block;
  color: darken(#d0d2d3,10);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  span {
    color: #666e75;
    margin-left: 1em;
  }//span
  & + span {
    margin-top: 10px;
    font-size: .75em;
    font-weight: bold;
    color: lighten(#000, 25%);
  }
}//res number (rounded)

.action {
  overflow: hidden;
  li {
    margin-left: 10px;
    padding-left: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }//li
  a {
    padding-left: 20px;
    display: block;
    color:#439bdc;
    font-weight: bold;
    font-size: 14px;
    &.options {
      margin-right: 10px;
      background: image-url('ico-options.png') no-repeat left center;
      &:after {
        position: relative;
        right:-7px;
        top:-1px;
        content: '\25bc';
        font-size: 9px;
        font-weight: normal;
        color:#439bdc;
      }//after
    }//options
    &.print {
      margin-right: 10px;
      background: image-url('ico-print.png') no-repeat left center;
    }
  }//a
}//action
.view-order {
  padding-left:18px;
  background: image-url('ico-search.png') no-repeat;
  display: inline-block;
  font-size: 13px;
  color: #5ea5d9;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }//hover
}//view order