/*
 * Reservation
*/

.welcome {
  padding: 0 !important;
}

.info {
  li {
    font-size: 36px;
    font-weight: 400;
    margin-right: 1em;
    sup {
      font-size: 40%;
      margin-top:-1em;
      position: relative;
    }
    span {
      font-size: 14px;
      color:$teal;
    }
  }
  @include clearfix;
  dl {
    @include span(2 of 12);
    font-size: 36px;
    font-weight:300;
    dt {
      margin-bottom: 5px;
    }//dt
    dd {
      font-size: 14px;
      color: #6dbdc1;
    }//dd
    sup {
      font-size: 24px;
      vertical-align: super;
    }
  }//dl
}//info

.reservations {
  ul.action li {
    margin-top: 0;
  }
  table {
    width:100%;
    td{
      padding:10px;
    }
  }
  @extend .reservation-history;
  th {
    margin-bottom: 1em;
    background-color: #f5f7f8;
    padding: 10px 0px;
    &:first-child {
      span {
        border:0;
        @extend .res-number;
      }//span
    }//first child
  }//th
  li {
    border-left:1px solid #d9dcdc;
    margin-bottom: 0;
    padding-bottom: 0;
    &:last-child {
      border:none;
    }//first child
    .view-order {
      text-decoration: none;
    }//view order
  }//li
}//reservation

.rewards {
  margin-top: 10px;
  background: image-url("ico-info.png") left top no-repeat;
  h3 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    color: #009abe;
  }//h3
  p {
    font-size: 14px;
    line-height: 22px;
    color: #8a8b8a;
    margin-bottom:0;
  }//p
}//rewards