/*
 * Reservations Overview
*/


.page-title {
  text-transform: uppercase;
  color:$teal;
}


.reservations-overview {

  .pure-g  {
    position: relative;
    padding:0 10px;
    div[class*="pure-"] {
      padding:24px 0;
    }
   div.options-column {
      padding:20px 0;
    }
  }

  .status-change {
    padding-top:20px; 
    .account-credited {
      position: absolute;
      font-size: 12px;
      color:#7b8185;
      font-weight: 800
      span {
        color:$green;
      }
    }
    &.pure-g > div[class*="pure-"] {
        color:lighten($gray,20) !important;
      }
    .options-column {
      * {
      display: none;

      }
      
    }
  }
  

  //table row padding
  //.col-1 {
  //  width: 140px;
  //}//col-1
  //.col-2 {
  //  width: 110px;
  //}//col-2
  //.col-3 {
  //  width: 160px;
  //}//col3
  //.col-4 {
  //  width: 60px;
  //}//col-4
  //.col-5 {
  //  width: 50px;
  //}//col-5
  //.col-6 {
  //  width: 60px;
  //}//col-6
  //.col-7 {
  //  width: 50px;
  //}//col-7
  //.col-8 {
  //  width: 130px;
  //}//col-8
  .table {
    //display: table;
    width: 100%;
  }
  .table-header {
    //@extend .padding;
    font-size: 11px;
    color: #222222;
    //display: table-cell;
    //vertical-align: inherit; 
  }//th
  .td {
    //@extend .padding;
    font-size: 13px;
    font-weight: 600;
    color: $gray;
    .options {
      border:1px solid #f7f9fa;
    }//options
  }//td
  .tr {
    line-height: 1.1em;
  }
  .tr:nth-child(2n) {
      background-color: #f8fafb;
    .td {
      color:$blue;
      &.active {
        color:$green;
      }
      ul {
        &:hover {
          .options {
            border-color:#e1e3e3;
            border-bottom: 0;
          }
        }
      }
      .options {
        border:1px solid #ffffff;
      }//options
    }//td
  }//odd trs
  .blue {
    color: $blue;
  }
  .darkBlue {
    color:$darkBlue;
  }
  .green {
    color:$green;
  }


  
  ul {
    position: relative;
    * {
      @include single-transition(none);
    }
    &:hover {
      ul {
        display: block;
      }//ul
      .options {
        border-bottom: 0 !important;
        z-index: 99;
        @include border-radius(5px 5px 0 0);
        span {
          background: url("img/account/sprites-options.png") no-repeat left -16px;
        }//span
      }//options hover
    }//hover
    .options {
      padding:3px;
      display: block;
      position: relative;
      z-index: 1;
      color:$blue;
      background:white;
      border:solid 1px $blue !important;
      text-align: center;
      @include border-radius(5px);
      span {
        width: 16px;
        height: 16px;
        display: block;
        background: url("img/account/sprites-options.png") no-repeat left top;
      }//span
    }//options
    ul {
      width: 225px;
      padding: 20px 20px 0 20px;
      background-color: $light;
      position: absolute;
      right:0;
      top:23px;
      border:1px solid $blue;
      display: none;
      z-index:9;
      @include border-radius(5px 0 5px 5px);
      li {
        margin-bottom: 15px;
      }//li
      a {
        font-weight: 600;
        font-size: 12px;
        color:$blue;
      }//a
    }//ul ul
  }//ul
  td {
    position: relative;
  }
  .credited {
    padding:5px 12px;
    white-space: nowrap;
    @include border-radius(12px);
    position: absolute;
    left:50px;
    top:-10px;
    color: #8a8b8a;
    background-color: $light;
    z-index:9999;
    span {
      color: $green;
    }//span
  }//credited
}//reservations overview

.bordered.padded-20 {
  margin-bottom: 20px;
}//bordered padded 20

.mobile-label {
  display: none;
}
