$teal : #3fb9be;
$light-grey : #73797d;
$red : #e06256;
$gutter : 20px;
$blue : #3f9ee0;

// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #000;
$white: #fff;
$dark:#222;
$gold:#ffb300;
$footer-bg:#282d31;
$footer-border:#393f43;
$red:#ef5840;
$border-red:#ed5224;
$border-gray: #dfe6e6;
$border-img:#e5e5e5;
$border-form:#e9eeee;
$border-darken:#e1e8e8;
$middle-gray:#b6c1c9;
$sms-gray:#e9eeee;
$second-dark:#363636;
$green:#3db9be;
$light-blue: #2bbbc1;
$namber-blue:#3f9ee0;
$icon-blue:#3cb9be;
$btn-blue:#2f9de4;
$lighten-blue:#4bb9bd;
$btn-border:#2e82b3;
$form-gray:#bfcdce;
$form-focus:#25b0b6;
$text-color:#a7b5c1;
$btn-green: #5ac278;
$dark-blue:#363636;

$orange: #f15543;

$base-font-sans-serif: 'Proxima', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Proxima', 'Helvetica Neue', 'Helvetica', sans-serif;

// Body
$base-text-color: $second-dark !default;
$base-background-color: $white !default;
$base-font-size: 16px !default;
//$base-line-height: 1.71428 !default;
$base-line-height: 130%;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $btn-blue !default;
$btn-padding: 10px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $form-gray !default;
$form-element-focus-border-color: $form-focus !default;
$placeholder-color: $light-grey !default;

// Headers
$h1-font-size: 32px !default;
$h2-font-size: 28px !default;
$h3-font-size: 22px !default;
$h4-font-size: 18px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$margin-xl: 15em;
$margin-l:10em;
$margin-md:5em;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;

.font-awesome {
	    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
