/*
 * General
*/

*, *:before, *:after {
  box-sizing: inherit;
  //@include single-transition(all, .5s, ease-in-out);  
}

body {
    font-size: $default;
    font: 16px/1.71428 "Proxima Nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: $dark;
    background-color: #fff;
    // padding-top: 50px;
    // @include background-image(
    //     linear-gradient(to right, #f7f7f7 30%, #f1f1f1 33.5%, #fff 33.8%)
    // );
}

.rounded {
    @include border-radius(3px);
}
.shaded {
    @include text-shadow(1px, 2px, #000);
}
::-moz-selection {
    background: green;
    color:$light;
}
::selection {
    background: green;
    color:$light;
}
a {
    color: $light;
    text-decoration: none;
}

#{headings()} {
    color:$dark;
}

h2 {
    font-weight: 600;
}
p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 36px;
}

strong {
    font-weight: 800;
}

.container {
    @include container;
}

.holder {
    margin-top: 50px;
    @include clearfix;
}
.bordered {
    margin-bottom: 40px;
    border-bottom:1px solid #edf1f1;
}//bordered
.padding {
    padding-left: 50px;
}//padding

@for $i from 1 through 4 {
    .padded-#{20*$i} {
        margin-bottom: (20*$i)+px;
    }
}