/*
 * Fonts
 */
@font-face {
    font-family: 'socialicoregular';
    src: font-url('fonts/socialico-webfont.eot');
    src: font-url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fonts/socialico-webfont.woff') format('woff'),
         font-url('fonts/socialico-webfont.ttf') format('truetype'),
         font-url('fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
