/*
 * Media Queries
 */
/*
 * 1368
*/
@include mediaQ($C3) {

}
/*
 * 1200
 */
 @include mediaQ($XL) {

 }
/*
 * 1024
 */
 @include mediaQ($L) {
  header[role=banner] {
    padding:10px 0;
    .container {
      max-width: 450px;
    }//container
    %col {
      display: inline-block;
      float: none;
    }//col
    text-align: center;
    .user-menu {
      @extend %col;
      margin-bottom: 10px;
    }//user menu
    .logo {
      @extend %col;
      margin-bottom: 10px;
    }//logo
    nav {
      @extend %col;
    }//nav
  }//header
  body {
    background: none;
    background-color: #fff;
  }//body
  #sidebar-menu {
    width:auto;
    float: none;
    text-align: center;
    padding-top: 0;
    background-color: #fff;
    ul {
      display: inline-block;
    }
    li {
      border:none;
      &.heading {
        padding: 15px 10px;
      }
      a {
        padding: 15px 10px;
        font-size: 13px;
      }
      &.selected {
        border:0;
        a {
          &:after {
            display: none;
          }//after
        }//a
      }//li.selected
    }//li
  }//sidebar
  div[role=main] {
    width:100%;
    padding-bottom: 20px;
    border-top:1px solid #e5e5e5;
    h1 {
      padding: 20px;
      margin-bottom: 20px;
    }
    .padding {
      @include pad(20px);
    }
  }//main
  footer[role=contentinfo] {
    @include pad(20px);
  }
}//media q

/*
 * Custom 900
 */
 @include mediaQ($C1) {
  table {
    overflow-x: auto;
    display: block;
  }//table
  .menu-block {
    @include span(50%);
    &:last-child {
      float: left;
    }//last
  }//menu block
}//mq

/*
 * 768
 */
 @include mediaQ($M) {

 }
/*
 * 660
 */

 @include mediaQ($C2) {
  header[role=banner] {
    nav {
      li {
        margin-right:10px;
      }//li
      a {
        font-weight: normal;
      }//a
    }//nav
  }//header
  fieldset label.col5:nth-child(5n + 2), fieldset label.col5, fieldset label.col5:nth-child(5n + 3), fieldset label.col5:nth-child(5n + 4), fieldset label.col5:nth-child(5n + 5) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: none;
  }
  input[type=text].small, input[type=password].small, input[type=text], input[type=password] {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }
  .res-number {
    display: none;
    & + span {
      text-align: center;
      margin-top: 12px;
      display: inline-block;
      line-height: 1.1em;
    }
  }
  .reservation-history h3.right, .reservations h3.right, .reservation-history h4.right, .reservations h4.right {
    text-align: left;
  }
  .reservation-history li, .reservations li {
    text-align: left;
  }
  .reservation-history li span, .reservations li span {
    float: none;
  }
  .reservation-history p, .reservations p, .reservation-history li, .reservations li {
    font-size: 12px;
  }
  .reservation-history .th:first-child span, .reservations .th:first-child span {
    font-size: 12px;
    padding: 12px 0 12px 12px;
  }
  .table-header-wrap {
    display: none;
  }
  .mobile-label {
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: bold;
    color: #777;
    padding-top: 10px;
  }
  .reservations-overview .tr {
    border-bottom: 1px solid #e6e6e6;
  }
  .reservations-overview ul {
    position: static;
    top: 0;
    li .options {
      display: none;
    }
    ul {
      display: block;
      position: relative;
      width: 100%;
      padding: 0;
      border: none;
      top: 0;
      background: transparent;
      li a {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
} //mq
/*
 * 480
 */
 @include mediaQ($S) {
  header[role=banner] {
    .container {
      max-width: 420px;
    }//container
    .user-menu a {
      padding:0;
      background: none;
    }//usermenu a
  }//header
  .menu-block {
    @include span(100%);
    float: none;
    &:last-child {
      float: none;
    }//last
  }//menu block
}