/*
 * Global Variables, Extensions, Mixins, and Functions
 */

$susy: (
	columns: 12,
	container: 1020px,
	gutters: 1/4,
	gutter-position: outside,
    global-box-sizing: border-box,
    //debug: (image: show)
);

$default: 16px;

//colors
$dark    :#000000;
$light   :#ffffff;
$blue    :#3f9ee0;
$darkBlue:#00607f;
$green   :#6cbf4a;
$gray    :#8a8b8a;
$darkGray:#4d4d4d;
$teal: #45bbc0;
$red:#ea502f;

//font size
$small: 0.75em; //12px
$default: 1em; //16px
$large: 2.25em; //36px

//breakpoints

// usual resolutions (normal, ipad landscape, ipad portrait, smarthpone l, smartphone s)
$XL: 75em; // 1200
$L: 64em; // 1024
$M: 48em; // 768
$S: 30em; // 480
$XS: 20em; // 320

// custom resolutions
$C1: 56.25em; // 900
$C2: 44em; // 660
$C3: 85.5em; // 1368

// support
$legacy-support-for-ie: true;

/*
 * Extends
 */


%font-Social {
  font-family: 'socialicoregular';
  .no-fontface & {
    font-family: "Arial", sans-serif;
  }//no font face
}//font social

%displayInline {
  display:inline-block;
  *display:inline;
}//display Inline

%reveal {
  position:relative;
  z-index:999;
}//reveal

%submit {
  display:block;
  cursor:pointer;
  border:none;
  overflow:hidden;
  -webkit-appearance: none;

}//submit
%giveLayout {
  display:block;
  overflow:hidden;
}//giveLayout

/*
 * Mixins
 */

// add imageless triangles up or down only
@mixin triangle($sizeLeft, $sizeRight, $sizeMain, $color, $direction: 'down') {
  width: 0;
  height: 0;
  display:block;
    border-left: $sizeLeft solid transparent;
    border-right: $sizeRight solid transparent;
  @if $direction == 'down' {
    border-top: $sizeMain solid $color;
  }
  @else {
    border-bottom: $sizeMain solid $color;    
  }   
} //triangle

@mixin clearfix() {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
} //clearfix

@mixin mediaQ($size) {
  @media only screen and (max-width:$size) {
    @content;
  } 
}

@mixin coverImage ($image) {
	background: image-url($image);
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(cover);
}//cover Image


/*
 * Functions
 */
@function px2em($px, $default:16) {
  $defaultSize: $default;
  // calculate
  $em: ($px / $defaultSize);
  // convert to unit
  $em: $em * 1em;
  @return $em;
}