.hlpr-txt {
	color: #7e7e7e;
    font-weight: 200;
    b {
    	font-weight: 800;
    	color:$dark;
    }
}


.trip-detail-information {
	> div {
		float:none !important;
	}
	.trip-alert {
		float:none;
		text-align: left;
		padding:0;
		p {
			font-weight: 400;
			color:$red;
			font-weight: 800;
			font-size: 12px;
			.mobile-only & {
				font-size: 12px;
				margin-top: 2em;
			}
		}
	}
	width:100%;
	padding:0 20px 20px !important;
}

.section-amenities, .section-reserve {
	position: relative;
	z-index: 2;
	background-color: #fff;
}


.amenities-display {
	margin-bottom:4em;
	padding-top: 2em;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	div.item {
		color:#7e7e7e;
		font-size: 14px;
	    border: solid 1px #e2e2e2;
	    padding:15px;
	text-align: center;
	margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}
		span {
			padding:10px 0;
		}
		.icon {
			margin-right: .5em;;
		    fill: #3f9ee0;
		    stroke: #3f9ee0;
			position: relative;
			top:5px;
			width:18px;
			height:18px;
			display: inline;
		}
	}
}

.day-picker {

	display: table;
	width: 100%;
	margin-top: 2em;
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table-row;
		width: 100%;
		@include mobile-only {
			font-size: .72em;
		}
		li {
			border-left: 1px solid #dfe6e6;
			border-top: 1px solid #dfe6e6;
			border-bottom: 1px solid #dfe6e6;
			background: #f8fafb;
			padding: 20px 0;
			text-align: center;
			display: table-cell;
			cursor: pointer;
			width: 20%;
			&:hover {
				@include transition(all 300ms ease-in-out);
				background: darken(#f8fafb, 3%);
			}
			&.active {
				background: $teal;
				border-color: darken($teal, 5%);
				border-right: 1px solid darken($teal, 5%);

				.return-trip &{
					background:$blue;
				}
				.day, .date {
					color: #fff;
				}
			}
			&:first-child {
				border-radius: 5px 0 0 5px;
			}
			&:last-child {
				border-radius: 0 5px 5px 0;
				border-right: 1px solid #dfe6e6;
			}
			.day {
				display: block;
				color: $blue;
				font-weight: 600;
			}
			.date {
				color: #646565;
				font-size: .8em;
				padding-top: .4em;
				display: block;
			}
		}
	}	
}



.trip-overview {
	.trip-details {
		font-weight: 700;
		font-size: .9em;
		b {
			color: #363636;
		}
		span {
			color: $teal;
		}
		i {
			font-size: 2em;
			color: #d0dada;
			position: relative;
			top: 3px;
			padding: .2em;
			display: inline-block;
			@include mobile-only {
				opacity: 0;
				display: block;
				height: 3px;
			}
		}
	}
	.trip-details-sub {
		color: #7e7e7e;
		font-size: .8em;
		font-weight: 200;
		@include mobile-only {
			padding-top: 10px;
		}
	}
}

.trip-options {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;

	.mobile-only.option {
		margin-top: 11px;
		width:100%;
		padding:1em;
	}
	.web-only {
		width: 100%;
		padding: 0;
		float: none;
		line-height: inherit;
	}
	li {
		border-bottom: 1px solid #e7ecec;
		overflow: hidden;
		cursor: pointer;
		&:nth-child(even) {
			background: #f8fafb;
			@include mobile-only {
				background: #fff;
			}
		}
		&:hover {
			span {
				color: $teal;
				@include transition(all 300ms ease-in-out);
			}
			.price {
				span {
					color: $blue;

				}
			}
		}
		div {
			float: left;
			padding: 25px 0 20px;
			line-height: 1.7em;
			@include mobile-only {
				padding: 0;
				line-height: 1;
			}
			&.select-indicator {
				.checkmark {
					width: 25px;
					height: 25px;
					border: 2px solid #e6e6e6;
					border-radius: 50px;
					padding:0;
					top: 25px;
					left: 7px;
					position: relative;
				}
			}
			&.arrive-time {
				@include mobile-only {
					font-size: .7em;
					span {
						color: darken(#b6c1c9, 15%);
						&.time {
							padding-top: 0;
						}
					}
				}
			}
			&.arrow {
				margin-top: 42px;
				text-align: center;
				.icon {
					vertical-align: middle;
					fill: #b6c1c9;
					stroke: #b6c1c9;
				}
			}
			&.space {
				@include mobile-only {
					display: none;
				}
			}
			.ban {
						color: $red !important;
					}
			&.price {
				padding-top: 2.5em;
				line-height: 1.2em;
				@include mobile-only {
					text-align: right;
					padding-top: 0;
				}


				span {
					&.sold-out{
						color:$red !important;
						font-weight: 800;
					}
					color: #545454;
					&.label {
						@include mobile-only {
							display: none;
						}
					}
					&.price {
						font-size: 1.6em;
						@include mobile-only {
							font-size: 1.4em;
							line-height: 66px;
						}
					}

				}
			}
			span {
				display: block;
				text-align: center;
				color: #b6c1c9;
				@include transition(all 300ms ease-in-out);
				@include mobile-only {
					text-align: left;
					color: darken(#b6c1c9, 30%);
					display: inline-block;
				}
				&.label {
					text-transform: uppercase;
					font-size: .75em;
					@include mobile-only {
						padding-top: 0;
						font-weight: 700;
					}
				}
				&.time {
					letter-spacing: .4px;
					font-size: 2em;
					@include mobile-only {
						padding-top: 20px;
						font-size: 1.1em;
					}
				}
				&.location {
					text-transform: uppercase;
					font-size: .9em;
					@include mobile-only {
						display: none;
					}
				}
			}
		}
		.alert {
			color: #e25054;
			line-height: 1em;
			padding: 0;
			clear: both;
			padding-left: 2em;
			font-size: .8em;
			position: relative;
			bottom: 10px;
			.icon {
				fill: #e25054;
			    height: 15px;
			    width: 12px;
			    font-size: .8em;
			    overflow: hidden;
			    margin-top: 1em;
			    vertical-align: text-bottom;
			}
		}
	}
}

.trip-card {
	.btn {
		font-size: 12px;
	}
	.mobile-only {
		.amenities-display {
			p {
				float:none;
				margin-top: 2em;
			}
		}
	}
	.amenities-display {
		padding:0;
		margin-bottom:0;
		display:block;
		p {
			float:left;
			margin-right: 1em;
			margin-bottom: 0;
			font-size: 12px;


		}
		div.item {
			padding:0px 5px;
			border:0;
			font-size: 0;
			.icon {
				width:13px;
				height:13px;
			}
		}
	}
}

/* General Section Styles */
.trip-meta {
	width:25%;
	border: solid 1px #e2e2e2;
	display: none;

	.amenities-display {
		display: block;
		margin: 5px 0 0;
		padding: 0;
		.item {
			display:inline;
			padding:5px;
			border:0;
			svg {
				margin: 0;
			}
		}
	}
	.seats {
		float:right;
		font-size: 14px;
		color:white;
		padding-bottom: 0;
		text-transform: none;
		strong {
			color:white;
		}
		&:before {
			font-size: 21px;	
			top:-7px;
			left:2px;
		color:white;

		}
	}
	.edit-trip {
		text-align:center;
		padding-top: 10px;
		a {
			background: $blue;
			color:white;
			text-transform: uppercase;
			display: inline-block;
			font-size: 12px;
			float:none;
			width:100%;
		    padding: 10px;
		    line-height: 1;
		    height:auto;

		}
	}
	@media (min-width:768px){
		display: block;
	}
	.leg-meta {
		&:first-child {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: dashed 1px $teal;
		}
		&:nth-child(2) {
			h4,i,svg {
				color:$blue;
				fill:$blue !important;
			}
		}
	}
	h4 {
		font-size: 14px;
		margin-bottom: 5px;
	}
	h4,i,svg {
		color:$teal;
		fill: $teal !important;
	}
	p {
		font-size: 12px;
		margin-bottom: 0;
	}
	.meta-title {
		padding:10px;
		border-bottom: solid 1px #e2e2e2;
		margin: 0;
		background: $teal;
		p {
			font-weight: 800;
			color:white;
			margin: 0;
		font-size: 14px;

		}
	}
	.meta-content {
		padding:10px;
	}
}
.section-reserve {
	
	@media (min-width:768px) {
		.content-holder{width:70%;
			margin-left: 5%;
		}

		&.sticky {
		.trip-meta {
			max-width:240px;
			width:18.5%;
			position: fixed;
			max-width:240px;
			top:20px;
		}
		.content-holder {
			margin-left:30%
		}
	}
	.trip-meta,.content-holder {
		float:left;
	}
	}
	h2 {
		text-align: center;
		font-size: 2.2em;
		color: #222;
		@include mobile-only {
			font-size: 1.7em;
			width: 90%;
			margin: auto;
			line-height: 1em;
			padding: 2em 0 1em;
		}
	}
	h3 {
		font-size: 1.3em;
		position: relative;
		padding-bottom: 1em;
		margin-bottom: .5em;
		&.reserve-section-headline {
			i {
				margin-right: 1em;
			}
			font-weight: normal;
			clear: both;
			@include tablet-portrait-and-below {
				&:before, &:after {
					display: none;
				}
			}
			/* &:before {
				border-radius: 500px;
				border: 2px solid #3fb1b5;
				height: 43px;
				width: 43px;
				position: absolute;
				left: -67px;
				top: -12px;
				content: '';
			}
			&:after {
				height: 35px;
				width: 35px;
				line-height: 35px;
				background: rgba(63, 177, 181, 1);
				border-radius: 500px;
				text-align: center;
				color: #fff;
				position: absolute;
				left: -63px;
				top: -8px;
				font-size: .95em;
			}
			&.a {
				&:after {
					content: 'A';
				}
			}
			&.b {
				&:before {
					border: 2px solid #439adb;
				}
				&:after {
					background: #439adb;
					content: 'B';
				}
			}
			&.c {
				&:after {
					content: 'C';
				}
			}
			&.d {
				&:before {
					border: 2px solid #439adb;
				}
				&:after {
					background: #439adb;
					content: 'D';
				}
			} */
		}
		b {
			font-weight: 600;
		}
	}
}